@import "../../../assets/components/ui/fb-button";

.fb-ui-button {
  display: inline-block;
  margin: 0;
  font-weight: $btn-font-weight;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; // IE10+
  user-select: none;

  background-image: none;
  background-position: $btn-background-position;
  background-size: $btn-background-size;
  box-shadow: $btn-box-shadow;
  outline: $btn-outline;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: $btn-text-transform;
  transition: $btn-transition;

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;

    svg {
      color: $btn-default-color;
    }
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;

    @include active-shadow;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);

    @include disabled-shadow;
  }

  &:active,
  &.active {
    background-image: $btn-active-gradient;
    background-size: $btn-active-background-size;
    box-shadow: $btn-active-box-shadow;
  }
}

a.fb-ui-button {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none;
  }
}

// Buttons variants
// --------------------------------------------------

.fb-ui-button {
  &[data-variant="default"] {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  }

  &[data-variant="primary"] {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  }

  &[data-variant="success"] {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
  }

  &[data-variant="info"] {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
  }

  &[data-variant="warning"] {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
  }

  &[data-variant="danger"] {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
  }

  &[data-variant="warning"] {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
  }

  &[data-variant="outline-default"] {
    @include button-outline-variant($btn-default-border, $btn-default-color);
  }

  &[data-variant="outline-primary"] {
    @include button-outline-variant($btn-primary-border, $btn-primary-color);
  }

  &[data-variant="outline-success"] {
    @include button-outline-variant($btn-success-border, $btn-success-color);
  }

  &[data-variant="outline-info"] {
    @include button-outline-variant($btn-info-border, $btn-info-color);
  }

  &[data-variant="outline-warning"] {
    @include button-outline-variant($btn-warning-border, $btn-warning-color);
  }

  &[data-variant="outline-danger"] {
    @include button-outline-variant($btn-danger-border, $btn-danger-color);
  }

  &[data-variant="link"] {
    color: $btn-link-color;
    font-weight: normal;
    border-radius: 0;

    svg {
      color: $btn-link-color;
    }

    &,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
      background-color: transparent;
      @include disabled-shadow;
    }

    &,
    &:active,
    &.active {
      background-color: transparent;
      background-image: none;
      background-size: auto;
      box-shadow: none;
    }

    &,
    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
    }

    &:hover,
    &:focus {
      color: $btn-link-hover-color;
      text-decoration: $btn-link-hover-decoration;
      background-color: transparent;

      svg {
        color: $btn-link-hover-color;
      }
    }

    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $btn-link-disabled-color;
        text-decoration: none;

        svg {
          color: $btn-link-disabled-color;
        }
      }
    }
  }

  &[data-variant="link-default"] {
    color: $btn-link-default-color;
    font-weight: normal;
    border-radius: 0;

    svg {
      color: $btn-link-default-color;
    }

    &,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
      background-color: transparent;
      @include disabled-shadow;
    }

    &,
    &:active,
    &.active {
      background-color: transparent;
      background-image: none;
      background-size: auto;
      box-shadow: none;
    }

    &,
    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
    }

    &:hover,
    &:focus {
      color: $btn-link-default-hover-color;
      text-decoration: $btn-link-default-hover-decoration;
      background-color: transparent;

      svg {
        color: $btn-link-default-hover-color;
      }
    }

    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $btn-link-default-disabled-color;
        text-decoration: none;

        svg {
          color: $btn-link-default-disabled-color;
        }
      }
    }
  }
}

// Buttons sizes
// --------------------------------------------------

.fb-ui-button {
  &[data-size="lg"] {
    @include button-size($btn-padding-lg-vertical, $btn-padding-lg-horizontal, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-large);
  }

  &[data-size="md"] {
    @include button-size($btn-padding-md-vertical, $btn-padding-md-horizontal, $btn-font-size-md, $btn-line-height-md, $btn-border-radius-base);
  }

  &[data-size="sm"] {
    @include button-size($btn-padding-sm-vertical, $btn-padding-sm-horizontal, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-small);
  }

  &[data-size="xs"] {
    @include button-size($btn-padding-xs-vertical, $btn-padding-xs-horizontal, $btn-font-size-xs, $btn-line-height-xs, $btn-border-radius-small);
  }
}

// Block button
// --------------------------------------------------

.fb-ui-button-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.fb-ui-button-block + .fb-ui-button-block {
  margin-top: 5px;
}

.fb-ui-button-pill {
  border-radius: $btn-pill-border-radius;
  padding-left: $btn-pill-padding-horizontal;
  padding-right: $btn-pill-padding-horizontal;
}

.fb-ui-button-thick {
  border-width: $btn-thick-border-width;
  font-weight: $btn-thick-font-weight;
}

.fb-ui-button-expander {
  border: 0;
  border-radius: $btn-border-radius-small;
  font-family: sans-serif;
  font-size: $btn-font-size-sm;
  font-weight: bold;
  height: $btn-line-height-sm;
  line-height: $btn-expander-line-height;
  margin-left: 5px;
  padding: 0 5px;
  position: relative;
  top: -1px;
}

.fb-ui-button-uppercase {
  text-transform: uppercase;
}

.fb-ui-button-icon {
  box-sizing: content-box;
  padding: 0;

  .badge-above {
    position: absolute;
    top: -$btn-badge-height-half;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
