@import "../../../assets/components/ui/fb-component-loading";

.fb-ui-component-loading {
  &__container {
    font-family: $loader-font-family;

    @include flex-container;

    .fb-ui-component-loading {
      &__icon {
        text-align: center;

        .fb-ui-spinner__container {
          margin: 0 auto;
        }
      }

      &__text {
        flex-grow: 1;
        margin: 0;
      }
    }

    &[data-size="lg"] {
      padding: $loader-padding-lg;

      .fb-ui-component-loading {
        &__icon {
          @include flexBoxWidth($loader-icon-size-lg);
        }

        &__text {
          line-height: $loader-icon-size-lg;
          font-size: $loader-font-size-lg;
          padding-left: $loader-text-padding-lg;
        }
      }
    }

    &[data-size="md"] {
      padding: $loader-padding-md;

      .fb-ui-component-loading {
        &__icon {
          @include flexBoxWidth($loader-icon-size-md);
        }

        &__text {
          line-height: $loader-icon-size-md;
          font-size: $loader-font-size-md;
          padding-left: $loader-text-padding-md;
        }
      }
    }

    &[data-size="sm"] {
      padding: $loader-padding-sm;

      .fb-ui-component-loading {
        &__icon {
          @include flexBoxWidth($loader-icon-size-sm);
        }

        &__text {
          line-height: $loader-icon-size-sm;
          font-size: $loader-font-size-sm;
          padding-left: $loader-text-padding-sm;
        }
      }
    }
  }
}
