@import "../../../assets/variables/colors";
@import "../../../assets/variables/screen";
@import "../../../assets/variables/texts";
@import "../../../assets/variables/borders";
@import "../../../assets/mixins/utilities";

.fb-user-side-navigation {
  &__container {
    position: relative;

    ul {
      position: absolute;
      top: auto;
      bottom: 100%;
      left: 0;
      z-index: $zindex-dropdown;
      display: block;
      float: left;
      margin: 2px 0 0; // override default ul
      margin-left: 10px;
      margin-bottom: 10px;
      padding: 5px 0;
      list-style: none;
      font-size: $font-size-base;
      text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
      background-color: #fff;
      border: 1px solid $gray-lighter;
      border-radius: $border-radius-base;
      background-clip: padding-box;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      min-width: 160px;

      @include box-shadow(0 6px 12px rgba(0,0,0,.175));

      &:focus {
        outline: none;
      }

      &:before,
      &:after {
        border-color: transparent;
        border-style: solid;
        border-width: 8px;
        content: " ";
        height: 0;
        left: 22px;
        pointer-events: none;
        position: absolute;
        width: 0;
        bottom: 100%;

        @media (max-width: $screen-md-max) {
          left: 12px;
        }
      }

      &:before {
        border-top-color: $gray-lighter;
        top: 100%;
      }

      &:after {
        border-top-color: #fff;
        margin-top: -1px;
        top: 100%;
      }

      .divider {
        height: 1px;
        overflow: hidden;
        background-color: $gray-lighter;
        margin: 5px 2px;
      }

      & > li > a {
        display: block;
        padding: 5px 15px;
        clear: both;
        font-weight: normal;
        line-height: $line-height-base;
        color: $gray-dark;
        white-space: nowrap;
      }

      & > li > a {
        &:hover,
        &:focus {
          text-decoration: none;
          color: $component-active-color;
          background-color: $component-active-bg;
        }
      }

      & > .active > a {
        &,
        &:hover,
        &:focus {
          color: $component-active-color;
          text-decoration: none;
          outline: 0;
          background-color: $component-active-bg;
        }
      }
    }

    &.collapse ul {
      display: none;
    }
  }

  &__button {
    background-color: transparent;
    background-image: none;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
    padding: 7px 15px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;

    @media (min-width: $screen-lg-min) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }

    &-avatar,
    &-name {
      @media (min-width: $screen-lg-min) {
        @include gridCel;
      }
    }

    &-avatar {
      @media (min-width: $screen-lg-min) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }

      > span {
        text-align: center;
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;

        @media (max-width: $screen-md-max) {
          margin: 0 auto;
        }

        img {
          margin-top: 1.5px;
          border-radius: 50%;

          @media (max-width: $screen-md-max) {
            margin-right: 0;
          }
        }

        svg {
          width: 36px;
          height: 36px;
          fill: $brand-primary;
          border-radius: 50%;
        }
      }
    }

    &-name {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
      padding-top: 5px;

      @media (max-width: $screen-md-max) {
        display: none !important;
      }
    }

    @media (max-width: $screen-md-max) {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }

    &-caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 0;
      border-top:   4px solid \9; // IE8
      border-right: 4px solid transparent;
      border-left:  4px solid transparent;
      border-bottom: 4px dashed;
      border-bottom: 4px solid \9; // IE8
      content: "";
    }
  }

  &__version {
    color: $gray-light;
    padding: 5px 15px;
  }
}
