@import "../../../assets/variables/colors";
@import "../../../assets/variables/screen";
@import "../../../assets/variables/borders";
@import "../../../assets/variables/texts";
@import "../../../assets/mixins/utilities";

.fb-modal-window {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
    overflow: hidden;
    right: 0;
    bottom: 0;
    z-index: $zindex-modal;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;

    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;

    &.transparent {
      background-color: rgba(255, 255, 255, .5);
    }
  }

  &__window {
    display: table-cell;
    vertical-align: top;
    padding-top: 70px;
  }

  &__dialog {
    position: relative;
    width: auto;
    margin: 10px;

    @media (min-width: $screen-sm-min) {
      width: 600px;
      margin: 30px auto;
    }

    @media (min-width: $screen-md-min) {
      margin: 0 auto;
    }

    &.modal-lg {
      width: 900px;
    }

    @media (min-width: $screen-md-min) {
      &.modal-sm {
        width: 300px;
      }
    }
  }

  &__content {
    position: relative;
    border-radius: $border-radius-large;
    background-color: #fff;
    background-clip: padding-box;

    @include box-shadow(0 3px 9px rgba(0, 0, 0, .5));

    // Remove focus outline from opened modal
    outline: 0;

    @media (min-width: $screen-sm-min) {
      @include box-shadow(0 5px 15px rgba(0, 0, 0, .5));
    }
  }

  &__header {
    padding: 15px;
    border-bottom: none;
    color: #fff;
    background-color: $brand-primary;

    @include clearfix;

    h4 {
      margin: 0;
      line-height: $line-height-base;
    }
  }

  &__body {
    position: relative;
    padding: 20px;
  }

  &__close {
    margin-top: -2px;
    float: right;
    font-size: ($font-size-base * 1.5);
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;

    @include opacity(.2);

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;

      @include opacity(.5);
    }
  }

  &__footer {
    padding: 0 20px 15px 20px;
    text-align: right;

    @include clearfix;
  }
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  @include opacity(0);
}

.modal-leave-active {
  @include opacity(0);
}

.modal-enter .modal-dialog {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
