@import "../../../assets/styles/variables";
@import "../../../assets/styles/custom/variables";
@import "../../../assets/theme/mixins";

.fb-md-textarea {
  &__container {
    margin-bottom: $md-form-group-margin-bottom;
    padding: $md-form-group-padding-vertical 0;
    position: relative;

    & & {
      margin-bottom: -$md-form-group-padding-vertical;
      margin-top: -$md-form-group-padding-vertical;
    }

    &.has-error {
      .fb-md-textarea {
        &__control {
          border-color: $brand-danger;
          box-shadow: none;
        }
      }
    }
  }

  &__control {
    background-color: transparent;
    background-image: none;
    border-color: $gray-lighter;
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 1px;
    color: $text-color;
    display: block;
    font-size: $md-form-control-font-size;
    line-height: $md-form-control-line-height;
    padding: $md-form-control-padding-vertical 0;
    width: 100%;

    &:focus {
      outline: 0;
    }

    @include placeholder($text-color);

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
