@import "../../../assets/components/ui/fb-modal";

.fb-ui-modal-window__container[data-size=md] {
  div.fb-ui-modal-window__window {
    padding-top: 1rem;
  }

  div.fb-ui-modal-window__dialog {
    width: 99vw;
    max-width: 99vw;
    height: 98vh;

    .fb-ui-modal-window__content {
      height: 100%;
    }
  }

  div.fb-ui-modal-window__body {
    padding: 1.5rem 0.5rem;
  }
}

.fb-ui-modal-window {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-background;
    transition: opacity .3s ease;
    z-index: $z-index;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-y: auto;
    outline: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    &-transparent {
      background-color: $overlay-background-transparent;
    }

    &[data-size="sm"] {
      .fb-ui-modal-window {
        &__dialog {
          @media (min-width: $screen-tablet-min) {
            width: $modal-size-sm;
            max-width: 90vw;
          }
        }
      }
    }

    &[data-size="md"] {
      .fb-ui-modal-window {
        &__dialog {
          width: $modal-size-md;
          max-width: 90vw;
        }
      }
    }

    &[data-size="lg"] {
      .fb-ui-modal-window {
        &__dialog {
          width: $modal-size-lg;
          max-width: 90vw;
        }
      }
    }

    &[data-variant="phone"] {
      .fb-ui-modal-window {
        &__window {
          padding-top: 1rem;
        }

        &__dialog {
          width: 99vw;
          max-width: 99vw;
          height: 98vh;
        }

        &__content {
          height: 100%;
        }

        &__body {
          padding: 1.5rem 0.5rem;
        }
      }
    }
  }

  &__window {
    margin-left: auto;
    margin-right: auto;
    padding-top: $modal-top-offset;
    z-index: ($z-index + 1);
  }

  &__dialog {
    position: relative;
    width: auto;
  }

  &__content {
    position: relative;
    border-radius: $content-border-radius;
    background-color: $content-background-color;
    background-clip: padding-box;
    overflow: hidden;
    outline: 0;

    @include content-shadow;
  }

  &__header {
    padding: 1.5rem;
    border-bottom: none;
    color: $header-color;
    background-color: $header-background-color;

    h4 {
      margin: 0;
      line-height: $line-height;
    }
  }

  &__body {
    position: relative;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  &__close {
    margin-top: -2px;
    float: right;
    font-size: ($font-size * 1.5);
    font-weight: bold;
    line-height: 1;
    color: $header-close-color;
    text-shadow: $header-close-shadow;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;

    @include close;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__footer {
    padding: $footer-padding;
    text-align: right;
  }

  &__loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $loader-background-color;
    z-index: ($z-index + 10);

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-inner {
      margin-left: auto;
      margin-right: auto;
      width: $loader-width;
      text-align: center;

      svg {
        width: 100%;
        margin-bottom: 2rem;

        path {
          &.dark_color {
            fill: $color-dark;
            fill-rule: nonzero;
          }

          &.brand_color {
            fill: $color-primary;
            fill-rule: nonzero;
          }
        }
      }
    }
  }
}

.modal-enter {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-leave-active {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-enter .fb-ui-modal-window__dialog {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-bounce-enter-active {
  animation: modal-bounce-in .25s;
}

.modal-bounce-leave-active {
  animation: modal-bounce-in .25s reverse;
}

@keyframes modal-bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
