@import "../../../assets/components/ui/fb-modal-window";

.modal-enter {
  opacity: 0;
  filter: alpha(opacity=0);

  .fb-ui-modal-window__dialog {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.modal-leave-active {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-bounce-enter-active {
  animation: modal-bounce-in 0.25s;
}

.modal-bounce-leave-active {
  animation: modal-bounce-in 0.25s reverse;
}

.fb-ui-modal-window {
  &__container {
    font-family: $modal-font-family;
    font-size: $modal-font-size;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $modal-overlay-background;
    transition: opacity 0.3s ease;
    z-index: $modal-z-index;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-y: auto;
    outline: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    &-transparent {
      background-color: $modal-overlay-bg-transparent;
    }

    .fb-ui-modal-window {
      &__window {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-top: $modal-top-offset;
        padding-bottom: $modal-bottom-offset;
        overflow: hidden;
        z-index: ($modal-z-index + 1);
      }

      &__dialog {
        position: relative;
        width: auto;
      }

      &__content {
        position: relative;
        border-radius: $modal-content-border-radius;
        background-color: $modal-content-bg-color;
        background-clip: padding-box;
        overflow: hidden;
        outline: 0;
        max-height: 100%;
        display: flex;
        flex-direction: column;

        @include modal-content-shadow;
      }

      &__body {
        position: relative;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
      }

      &__footer {
        padding: $modal-footer-padding;
        text-align: right;
      }
    }

    &[data-size="sm"] {
      .fb-ui-modal-window {
        &__dialog {
          @media (min-width: $screen-tablet-min) {
            width: $modal-size-sm;
            max-width: 90vw;
          }
        }
      }
    }

    &[data-size="md"] {
      .fb-ui-modal-window {
        &__dialog {
          width: $modal-size-md;
          max-width: 90vw;
        }
      }
    }

    &[data-size="lg"] {
      .fb-ui-modal-window {
        &__dialog {
          width: $modal-size-lg;
          max-width: 90vw;
        }
      }
    }

    &[data-layout="phone"] {
      .fb-ui-modal-window {
        &__window {
          padding: 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          height: 100%;
        }

        &__dialog {
          width: 99vw;
          max-width: 99vw;
          height: 98vh;
        }

        &__content {
          height: 100%;
        }

        &__body {
          padding: 1rem;
        }
      }
    }

    &[data-layout="tablet"] {
      .fb-ui-modal-window {
        &__window {
          padding: 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          height: 100%;
        }

        &__dialog {
          height: 98vh;
        }

        &__content {
          height: 100%;
        }

        &__body {
          padding: 1rem;
        }
      }
    }
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $modal-loader-bg-color;
    z-index: ($modal-z-index + 10);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-logo {
      width: $modal-loader-width;

      path {
        &.dark_color {
          fill: $logo-color-dark;
          fill-rule: nonzero;
        }

        &.brand_color {
          fill: $logo-color-primary;
          fill-rule: nonzero;
        }
      }
    }
  }
}

@keyframes modal-bounce-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
