@import '../../../assets/components/ui/fb-modal-window';

.fb-theme-ui-modal-window {
	&__container {
		font-family: $modal-font-family;
		font-size: $modal-font-size;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $modal-overlay-background;
		transition: opacity 0.3s ease;
		z-index: $modal-z-index;
		-webkit-overflow-scrolling: touch;
		overflow: hidden;
		overflow-y: auto;
		outline: 0;
		display: flex;
		flex-direction: row;
		align-items: baseline;

		&-transparent {
			background-color: $modal-overlay-bg-transparent;
		}

		.fb-theme-ui-modal-window {
			&__window {
				position: relative;
				margin: $modal-top-offset auto $modal-bottom-offset auto;
				overflow: hidden;
				z-index: ($modal-z-index + 1);
				display: flex;

				@include modal-content-shadow;
			}

			&__dialog {
				position: relative;
				width: auto;
				max-height: 100%;
				border-radius: $modal-content-border-radius;
				background-color: $modal-content-bg-color;
				background-clip: padding-box;
				overflow: hidden;
				outline: 0;
				display: flex;
				flex-direction: column;
			}

			&__body {
				position: relative;
				padding: 1.5rem;
				display: flex;
				flex-direction: column;
				overflow-y: auto;
				height: 100%;

				@include modal-body-flex;
			}

			&__footer {
				border-top: 1px solid $modal-footer-border-color;
				padding: $modal-footer-padding;
				text-align: right;
			}
		}

		&[data-size='sm'] {
			.fb-theme-ui-modal-window {
				&__dialog {
					@media (min-width: $screen-tablet-min) {
						width: $modal-size-sm;
						max-width: 90vw;
					}
				}
			}
		}

		&[data-size='md'] {
			.fb-theme-ui-modal-window {
				&__dialog {
					width: $modal-size-md;
					max-width: 90vw;
				}
			}
		}

		&[data-size='lg'] {
			.fb-theme-ui-modal-window {
				&__dialog {
					width: $modal-size-lg;
					max-width: 90vw;
				}
			}
		}

		&[data-layout='phone'] {
			.fb-theme-ui-modal-window {
				&__window {
					margin: 1.8vh auto 0;
					height: 98vh;
				}

				&__dialog {
					width: 99vw;
					max-width: 99vw;
					height: 98vh;
				}

				&__body {
					padding: 1rem;
				}
			}
		}

		&[data-layout='tablet'] {
			.fb-theme-ui-modal-window {
				&__window {
					margin: auto;
					height: 98vh;
				}

				&__dialog {
					height: 98vh;
				}

				&__body {
					padding: 1rem;
				}
			}
		}

		&[data-layout='default'] {
			.fb-theme-ui-modal-window {
				&__window {
					max-height: calc(100vh - #{sum($modal-top-offset + $modal-bottom-offset)});
				}
			}
		}
	}

	&__loading {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $modal-loader-bg-color;
		z-index: ($modal-z-index + 10);
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}

.fb-theme-ui-modal-enter-active,
.fb-theme-ui-modal-leave-active {
	transition: opacity 0.25s ease-in-out;
}

.fb-theme-ui-modal-enter-from,
.fb-theme-ui-modal-leave-to {
	opacity: 0;
}

.fb-theme-ui-modal-enter-to {
	opacity: 1;
}

.fb-theme-ui-modal-bounce-enter-active {
	animation: fb-theme-ui-modal-bounce-in 0.25s;
}

.fb-theme-ui-modal-bounce-leave-active {
	animation: fb-theme-ui-modal-bounce-in 0.25s reverse;
}

@keyframes fb-theme-ui-modal-bounce-in {
	0% {
		transform: scale(0);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}
