@import "colors";
@import "texts";

$btn-font-weight:                       normal;

$btn-default-color:                     #fff;
$btn-default-bg:                        #474949;
$btn-default-border:                    $btn-default-bg;

$btn-primary-color:                     #fff;
$btn-primary-bg:                        $brand-primary;
$btn-primary-border:                    $btn-primary-bg;

$btn-success-color:                     #fff;
$btn-success-bg:                        $brand-success;
$btn-success-border:                    $btn-success-bg;

$btn-info-color:                        #fff;
$btn-info-bg:                           $brand-info;
$btn-info-border:                       $btn-info-bg;

$btn-warning-color:                     #fff;
$btn-warning-bg:                        $brand-warning;
$btn-warning-border:                    $btn-warning-bg;

$btn-danger-color:                      #fff;
$btn-danger-bg:                         $brand-danger;
$btn-danger-border:                     $btn-danger-bg;

$btn-link-disabled-color:               $gray-light;

$btn-border-radius-base:                3px;
$btn-border-radius-large:               4px;
$btn-border-radius-small:               3px;

$btn-background-position:               null !default;
$btn-background-size:                   null !default;
$btn-box-shadow:                        none !default;
$btn-outline:                           none !default;
$btn-text-transform:                    none !default;
$btn-transition:                        all 0.3s !default;

$btn-active-gradient:                   none !default;
$btn-active-background-size:            null !default;
$btn-active-box-shadow:                 none !default;

$btn-pill-border-radius:                10em !default;
$btn-pill-padding-horizontal:           1.25em !default;

$btn-thick-border-width:                2px !default;
$btn-thick-font-weight:                 600 !default;

$btn-expander-font-size:                $font-size-small !default;
$btn-expander-line-height:              half($btn-expander-font-size) !default;

$btn-badge-height-half:                 half(2px, 2px * 2, 11px) !default;
