@import "colors";
@import "./../mixins/utilities";

$spinner-size:                          24px !default;

$spinner-border-color:                  rgba(0, 0, 0, 0.1) !default;
$spinner-border-width:                  2px !default;

// Variants
$spinner-default-color:                 $gray !default;
$spinner-primary-color:                 $brand-primary !default;
$spinner-success-color:                 $brand-success !default;
$spinner-info-color:                    $brand-info !default;
$spinner-warning-color:                 $brand-warning !default;
$spinner-danger-color:                  $brand-danger !default;

// Sizes
$spinner-lg-size:                       48px !default;
$spinner-lg-border-width:               3px !default;

$spinner-sm-size:                       18px !default;
$spinner-sm-border-width:               null !default;

@mixin spinner-size($size, $border-width) {
  border-width: $border-width;
  height: $size;
  margin: half(-$size) 0 0 half(-$size);
  width: $size;
}
