.brand-color {
	fill: #d9230f;
}

.default-color {
	fill: #474949;
}

.dark-mode .default-color {
	fill: #ddd;
}

#storybook-docs {
	table {
		width: 100%;
	}

	.sbdocs.sbdocs-preview {
		background-color: transparent;
	}
}

.dark .docs-story {
	background: rgba(51, 51, 51);
}

div[class*='css-'] {
	transform: none;
}
