@use 'element-plus/theme-chalk/src/mixins/mixins' as *;
@use 'element-plus/theme-chalk/src/common/var' as *;

$header-background-color: #d9230f;

@include b(app-bar) {
	@include css-var-from-global(('app-bar', 'heading', 'bg-color'), ('color', 'primary'));
	@include css-var-from-global(('app-bar', 'heading', 'color'), ('color', 'white'));
	@include set-css-var-value(('app-bar', 'heading', 'icon-size'), '32px');
	@include set-css-var-value(('app-bar', 'heading', 'icon-font-size'), '18px');
	@include set-css-var-value(('app-bar', 'heading', 'icon-margin'), '10px');
}

@include b(app-bar) {
	background-color: $header-background-color;
	color: $color-white;
	box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
	z-index: 1030;

	@include e(buttons-small) {
		height: 0;
		transition: height 0.3s ease-in-out;
		overflow: hidden;
		justify-content: space-between;
		display: flex;
		flex-flow: row nowrap;

		@include when(expanded) {
			padding: 1rem 1rem 0;
			height: 3.4rem;
			transition: height 0.3s ease-in-out;
		}
	}

	@include e(header) {
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		padding: 0.25rem 0 0.25rem 0.5rem;
		align-items: center;
	}

	@include e(heading) {
		flex-grow: 2;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}

	@include e(button-left) {
		flex: 0 0 3rem;
		max-width: 3rem;
		display: flex;
		justify-content: center;
	}

	@include e(button-right) {
		flex: 0 0 3rem;
		max-width: 3rem;
		display: flex;
		justify-content: center;
	}

	@include e(content) {
		height: 0;
		line-height: 3rem;
		padding-left: 1rem;
		transition: height 0.3s ease-in-out;
		display: flex;
		flex-flow: row nowrap;
		font-size: 1.5rem;

		@include when(expanded) {
			height: 3rem;
			transition: height 0.3s ease-in-out;
		}
	}
}

@include b(app-bar-heading) {
	@include e(title) {
		overflow: hidden;
		line-height: 1.3rem;
		font-size: 1.3rem;
		color: $color-white;
		margin: 0;
		flex-grow: 1;

		> span {
			line-height: 1.2rem;
			font-size: 1.2rem;
			font-weight: bold;
			display: block;
		}

		> small {
			line-height: 1.1rem;
			font-size: 0.9rem;
			display: block;
		}

		@include m(align-center) {
			text-align: center;
		}

		@include m(align-left) {
			text-align: left;
		}

		@include m(align-right) {
			text-align: right;
		}
	}

	@include e(prepend) {
		flex: 0 0 2rem;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@include e(append) {
		flex: 0 0 5rem;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 0.25rem;
	}

	@include e(icon) {
		color: getCssVar('app-bar', 'heading', 'bg-color');
		background-color: getCssVar('app-bar', 'heading', 'color');
		border-radius: 50%;
		height: getCssVar('app-bar', 'heading', 'icon-size');
		width: getCssVar('app-bar', 'heading', 'icon-size');
		line-height: getCssVar('app-bar', 'heading', 'icon-size');
		font-size: getCssVar('app-bar', 'heading', 'icon-font-size');
		text-align: center;
		margin-right: getCssVar('app-bar', 'heading', 'icon-margin');
	}
}

@include b(app-bar-icon) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	text-transform: lowercase;
	background: $color-white;
	border: 1px solid $color-white;
	border-radius: 50%;
	outline: none;

	@include m(align-left) {
		order: -1;
	}

	@include m(align-right) {
		order: 1;
	}

	svg path {
		fill: $color-primary;
	}
}

@include b(app-bar-button) {
	@include m(align-left) {
		order: -1;
	}

	@include m(align-right) {
		order: 1;
	}
}
