@use 'sass:map';
@use 'sass:string';

@use 'element-plus/theme-chalk/src/mixins/mixins' as *;
@use 'element-plus/theme-chalk/src/mixins/utils' as *;
@use 'element-plus/theme-chalk/src/mixins/var' as *;
@use 'element-plus/theme-chalk/src/common/var' as *;
@use 'element-plus/theme-chalk/src/common/popup' as *;

@include b(dialog) {
	@include css-var-from-global(('dialog', 'header', 'bg-color'), ('color', 'primary'));
	@include css-var-from-global(('dialog', 'header', 'color'), ('color', 'white'));
	@include set-css-var-value(('dialog', 'header', 'heading'), '50px');
	@include set-css-var-value(('dialog', 'header', 'font-size'), '20px');
	@include set-css-var-value(('dialog', 'header', 'font-weight'), 500);
	@include set-css-var-value(('dialog', 'header', 'line-height'), 1.1);
	@include set-css-var-value(('dialog', 'header', 'padding'), '0 12px');
	@include set-css-var-value(('dialog', 'header', 'margin'), 0);
	@include set-css-var-value(('dialog', 'header', 'icon-size'), '35px');
	@include set-css-var-value(('dialog', 'header', 'icon-font-size'), '20px');
	@include set-css-var-value(('dialog', 'header', 'icon-size', 'large'), '55px');
	@include set-css-var-value(('dialog', 'header', 'icon-font-size', 'large'), '40px');
	@include set-css-var-value(('dialog', 'header', 'icon-margin'), '10px');
}

@include b(dialog-header) {
	color: getCssVar('dialog', 'header', 'color');
	background-color: getCssVar('dialog', 'header', 'bg-color');
	margin-top: -1 * map.get($dialog, 'padding-primary');
	margin-left: -1 * map.get($dialog, 'padding-primary');
	margin-right: -1 * map.get($dialog, 'padding-primary');

	@include e(inner) {
		display: flex;
		flex-flow: row nowrap;
		padding: getCssVar('dialog', 'header', 'padding');
		min-height: getCssVar('dialog', 'header', 'heading');
		position: relative;
	}

	@include e(heading) {
		flex-grow: 1;
		align-items: center;
		display: flex;
		flex-flow: row nowrap;
	}

	@include e(title) {
		flex-grow: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: getCssVar('dialog', 'header', 'font-size');
		font-weight: getCssVar('dialog', 'header', 'font-weight');
		line-height: getCssVar('dialog', 'header', 'line-height');
		margin: getCssVar('dialog', 'header', 'margin');
	}

	@include e(subtitle) {
		display: block;
		font-size: 65%;
		font-weight: normal;
	}

	@include e(icon) {
		color: getCssVar('dialog', 'header', 'bg-color');
		background-color: getCssVar('dialog', 'header', 'color');
		border-radius: 50%;
		height: getCssVar('dialog', 'header', 'icon-size');
		width: getCssVar('dialog', 'header', 'icon-size');
		line-height: getCssVar('dialog', 'header', 'icon-size');
		font-size: getCssVar('dialog', 'header', 'icon-font-size');
		text-align: center;
		margin-right: getCssVar('dialog', 'header', 'icon-margin');
	}

	@include e(close) {
		position: absolute;
		right: 15px;
		top: 15px;
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;
		color: getCssVar('dialog', 'header', 'color');
	}

	@include e(description) {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;

		.#{$namespace}-dialog-header__icon {
			background-color: getCssVar('dialog', 'header', 'bg-color');
			color: getCssVar('dialog', 'header', 'color');
			margin-bottom: 15px;
			height: getCssVar('dialog', 'header', 'icon-size', 'large');
			width: getCssVar('dialog', 'header', 'icon-size', 'large');
			line-height: getCssVar('dialog', 'header', 'icon-size', 'large');
			font-size: getCssVar('dialog', 'header', 'icon-font-size', 'large');
		}

		@include e(content) {
			padding: 10px;
		}
	}

	@each $type in (primary, success, warning, danger, error, info, default) {
		@include m(type-#{$type}) {
			@include css-var-from-global(('dialog', 'header', 'bg-color'), ('color', $type));
			@include css-var-from-global(('dialog', 'header', 'color'), ('color', 'white'));
		}
	}

	@each $layout in (tablet, phone) {
		@include m(layout-#{$layout}) {
			@include e(inner) {
				padding: 0;
			}

			@include e(heading) {
				text-align: center;
				order: 2;
				flex-grow: 2;
			}

			@include e(left-button) {
				flex-grow: 1;
				flex-basis: 10%;
				text-align: left;
				order: 1;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				padding-left: 15px;

				.#{$namespace}-button {
					color: getCssVar('dialog', 'header', 'color');
					text-transform: uppercase;

					&:hover,
					&:focus,
					&:active {
						color: getCssVar('dialog', 'header', 'color');
						background-color: rgba(map.get($colors, 'white'), 0.3);
					}
				}
			}

			@include e(right-button) {
				flex-grow: 1;
				flex-basis: 10%;
				text-align: right;
				order: 3;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-end;
				padding-right: 15px;

				.#{$namespace}-button {
					color: getCssVar('dialog', 'header', 'color');
					text-transform: uppercase;

					&:hover,
					&:focus,
					&:active {
						color: getCssVar('dialog', 'header', 'color');
						background-color: rgba(map.get($colors, 'white'), 0.3);
					}
				}
			}
		}
	}
}

@include b(dialog-footer) {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding: getCssVar('dialog', 'padding-primary');
	border-top: 1px solid getCssVar('border-color', 'dark');
	margin-left: -1 * map.get($dialog, 'padding-primary');
	margin-right: -1 * map.get($dialog, 'padding-primary');
	margin-bottom: -1 * map.get($dialog, 'padding-primary');

	@include e(left-button) {
		margin-right: 5px;

		.#{$namespace}-button {
			text-transform: uppercase;
		}
	}

	@include e(right-button) {
		margin-left: 5px;

		.#{$namespace}-button {
			text-transform: uppercase;
		}
	}
}
