$--colors: (
	'primary': (
		'base': #d9230f,
	),
	'success': (
		'base': #469408,
	),
	'warning': (
		'base': #d9831f,
	),
	'danger': (
		'base': #db2828,
	),
	'error': (
		'base': #db2828,
	),
	'info': (
		'base': #029acf,
	),
);

@forward 'element-plus/theme-chalk/src/common/var' with (
	$colors: $--colors,
	$button-padding-horizontal: (
		'default': 50px,
	)
);

@use 'element-plus/theme-chalk/src/index' as *;
@use 'element-plus/theme-chalk/src/reset' as *;

// Dark theme
@use './dark';
@use 'element-plus/theme-chalk/src/dark/css-vars' as *;

// Component styles
@use 'fb-app-bar';
@use 'fb-bottom-navigation';
@use 'fb-breadcrumb-item';
@use 'fb-component-loading';
@use 'fb-component-loading-error';
@use 'fb-dialog';
@use 'fb-expand-transition';
@use 'fb-expandable-box';
@use 'fb-icon-with-child';
@use 'fb-list';
@use 'fb-media-item';
@use 'fb-result';
@use 'fb-spinner';
@use 'fb-swipe';

* {
	border-color: var(--el-border-color);
}

a {
	color: var(--el-color-primary);
}

code {
	border-radius: 2px;
	padding: 2px 4px;
	background-color: var(--el-color-primary-light-9);
	color: var(--el-color-primary);
}

.el-result .el-result__icon .el-icon-with-child svg {
	--el-result-icon-font-size: 100%;
}
