$--colors: (
	'primary': (
		'base': #d9230f,
	),
	'success': (
		'base': #469408,
	),
	'warning': (
		'base': #d9831f,
	),
	'danger': (
		'base': #db2828,
	),
	'error': (
		'base': #db2828,
	),
	'info': (
		'base': #029acf,
	),
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
	// do not use same name, it will override.
	$colors: $--colors,
	$button-padding-horizontal: ('default': 50px)
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
@use 'element-plus/theme-chalk/src/reset.scss' as *;

// Dark theme
@use './dark.scss';
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

// Component styles
@use 'fb-app-bar.scss';
@use 'fb-bottom-navigation.scss';
@use 'fb-breadcrumb-item.scss';
@use 'fb-component-loading.scss';
@use 'fb-component-loading-error.scss';
@use 'fb-dialog.scss';
@use 'fb-expand-transition.scss';
@use 'fb-expandable-box.scss';
@use 'fb-icon-with-child.scss';
@use 'fb-list.scss';
@use 'fb-media-item.scss';
@use 'fb-result.scss';
@use 'fb-spinner.scss';
@use 'fb-swipe.scss';

* {
	border-color: var(--el-border-color);
}

a {
	color: var(--el-color-primary);
}

code {
	border-radius: 2px;
	padding: 2px 4px;
	background-color: var(--el-color-primary-light-9);
	color: var(--el-color-primary);
}

.el-result .el-result__icon .el-icon-with-child svg {
	--el-result-icon-font-size: 100%;
}
