@import "../../../assets/components/layout/fb-navigation";

.fb-theme-layout-navigation {
  &__container {
    ul {
      list-style: none;
      margin: $navigation-margin;
      padding: $navigation-padding;
    }
  }

  &__heading {
    color: $heading-color;
    font-size: $heading-font-size;
    font-weight: bold;
    line-height: 2rem;
    overflow: hidden;
    padding: $heading-padding;
    margin: $heading-margin;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (min-width: $screen-tablet-min) and (max-width: $screen-desktop-max) {
      visibility: hidden;
    }
  }
}
