@import "../../../../assets/components/layout/fb-header";

.fb-layout-header {
  &__spacer {
    &-left,
    &-right {
      -webkit-box-flex: 0;
      flex: 0 0 5rem;
      max-width: 5rem;
    }

    &-left {
      order: -1;
    }

    &-right {
      order: 1;
    }

    &-center {
      flex-grow: 1;
    }
  }
}
