@import "../../../assets/components/form/fb-label";

.fb-label {
  &__container {
    display: inline-block;
    max-width: 100%;
    margin: $field-margin;
    font-weight: $field-font-weight;

    &-required {
      &:after {
        content: '*';
        display: inline-block;
        color: $field-required-color;
      }
    }

    &[data-orientation="inline"] {
      @media (min-width: $screen-tablet-min) {
        margin-bottom: 0;
        vertical-align: middle;
      }
    }

    &[data-orientation="horizontal"] {
      @media (min-width: $screen-tablet-min) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;

        text-align: right;
        margin-bottom: 0;
        padding: $field-horizontal-padding;
      }

      @media (min-width: $screen-desktop-min) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }

      &[data-size="lg"] {
        @media (min-width: $screen-tablet-min) {
          label {
            padding: $field-horizontal-large-padding;
            font-size: $field-large-font-size;
          }
        }
      }

      &[data-size="sm"] {
        @media (min-width: $screen-tablet-min) {
          label {
            padding: $field-horizontal-small-padding;
            font-size: $field-small-font-size;
          }
        }
      }
    }
  }
}
