@import "../../../../assets/variables/colors";
@import "../../../../assets/variables/texts";

.fb-phone-header-heading {
  &__container {
    height: 70px;

    h1 {
      float: left;
      margin: 8px 0 0 0;
      display: block;
      white-space: nowrap;
      font-size: 18px;
      line-height: 20px;
      padding: 10px 0;
      text-align: center;
      color: $brand-primary-contrast;

      span,
      small {
        color: $brand-primary-contrast;
      }

      span {
        font-size: $font-size-large;
      }

      small {
        font-size: $font-size-small;
        display: block;
      }
    }

    h1.single-row {
      line-height: 35px;
      font-size: 22px;
    }

    &-with-buttons {
      top: 0;
      left: 50%;
      position: absolute;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    &-left {
      left: 0;
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);

      h1 {
        margin-left: 10px;
        text-align: left;
      }
    }

    > div {
      h1 {
        margin: 0 0 0 10px;
        padding: 0;
        white-space: nowrap;
        text-align: left;
        font-size: 18px;
      }

      h1.single-row {
        line-height: 50px;
        font-size: 18px;
      }

      span,
      small {
        font-size: 18px;
        line-height: 20px;
        color: #fff;
        display: block;
      }

      span {
        padding-top: 5px;
        font-size: $font-size-large;
      }

      small {
        font-size: $font-size-small;
      }
    }
  }

  &__logo {
    margin-top: 10px;
  }

  &__icon {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 30px;
    float: right;
    text-align: center;
    display: inline-block;
  }

  &__icon[role="button"] {
    background-color: transparent;
    background-image: none;
    border: none;
    outline: none;
  }
}
