@import "../../../assets/variables/colors";

.fb-logo {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  display: block;
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
  color: #fff;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $gray;
    background-color: transparent;
  }

  > svg {
    display: block;
    width: auto;
    height: 30px;
    margin-top: -5px;
    fill: #fff;

    @media (max-width: 320px) {
      height: 25px;
    }
  }
}
