@import "../../../assets/components/ui/fb-page-loading";

.fb-ui-page-loading {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1080;

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-inner {
      margin-left: auto;
      margin-right: auto;
      width: $loader-width;
      text-align: center;

      svg {
        width: 100%;
        margin-bottom: 2rem;

        path {
          &.dark_color {
            fill: $color-dark;
            fill-rule: nonzero;
          }

          &.brand_color {
            fill: $color-primary;
            fill-rule: nonzero;
          }
        }
      }
    }
  }
}

.page-loading-bounce-enter-active {
  animation: page-loading-bounce-in .25s;
}

.page-loading-bounce-leave-active {
  animation: page-loading-bounce-in .25s reverse;
}

@keyframes page-loading-bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
