@use 'sass:color';
@import '../../mixins/utilities';
@import '../../variables/colors';
@import '../../variables/layout';
@import '../../variables/screen';
@import '../../variables/texts';

$alert-font-family: $font-family-base;
$alert-padding: 0.5rem 1rem;
$alert-border-radius: 3px;
$alert-default-color: $color-default-contrast;
$alert-default-bg: $color-default;
$alert-default-border: $alert-default-bg;
$alert-primary-color: $color-primary-contrast;
$alert-primary-bg: $color-primary;
$alert-primary-border: $alert-primary-bg;
$alert-success-color: $color-success-contrast;
$alert-success-bg: $color-success;
$alert-success-border: $alert-success-bg;
$alert-info-color: $color-info-contrast;
$alert-info-bg: $color-info;
$alert-info-border: $alert-info-bg;
$alert-warning-color: $color-warning-contrast;
$alert-warning-bg: $color-warning;
$alert-warning-border: $alert-warning-bg;
$alert-danger-color: $color-danger-contrast;
$alert-danger-bg: $color-danger;
$alert-danger-border: $alert-danger-bg;
$alert-icon-padding: $padding-xs;

@mixin alert-variant($background, $border, $color) {
	color: $color;
	background-color: $background;
	background-image: var(--bs-gradient);
	border-color: $border;

	a {
		color: color.adjust($color, $lightness: -10%);
	}

	hr {
		border-top-color: $color;
	}

	svg {
		fill: $color;
	}
}

@mixin alert-radius {
	@include border-radius($alert-border-radius);
}

@mixin flex-alert {
	@include flex-row(nowrap);
}
