@import "../../mixins/utilities";
@import "../../variables/colors";
@import "../../variables/layout";
@import "../../variables/screen";
@import "../../variables/texts";

$alert-font-family:                   $font-family-base;
$alert-padding:                       0.5rem 1rem;
$alert-border-radius:                 3px;

$alert-default-color:                 $brand-default-contrast;
$alert-default-bg:                    $brand-default;
$alert-default-border:                $alert-default-bg;

$alert-primary-color:                 $brand-primary-contrast;
$alert-primary-bg:                    $brand-primary;
$alert-primary-border:                $alert-primary-bg;

$alert-success-color:                 $brand-success-contrast;
$alert-success-bg:                    $brand-success;
$alert-success-border:                $alert-success-bg;

$alert-info-color:                    $brand-info-contrast;
$alert-info-bg:                       $brand-info;
$alert-info-border:                   $alert-info-bg;

$alert-warning-color:                 $brand-warning-contrast;
$alert-warning-bg:                    $brand-warning;
$alert-warning-border:                $alert-warning-bg;

$alert-danger-color:                  $brand-danger-contrast;
$alert-danger-bg:                     $brand-danger;
$alert-danger-border:                 $alert-danger-bg;

$alert-icon-padding:                  $padding-xs;

@mixin alert-variant($background, $border, $color) {
  color: $color;
  background-color: $background;
  background-image: var(--bs-gradient);
  border-color: $border;

  a {
    color: darken($color, 10%);
  }

  hr {
    border-top-color: $color;
  }

  svg {
    fill: $color;
  }
}

@mixin alert-radius {
  @include border-radius($alert-border-radius);
}

@mixin flex-alert {
  @include flexRow;
}
