@use "sass:math";
@use "sass:color";
@import "../../mixins/utilities";
@import "../../variables/colors";
@import "../../variables/sizes";
@import "../../variables/texts";

$btn-font-family: $font-family-base;
$btn-font-weight: normal;
$btn-default-color: $color-default-contrast;
$btn-default-bg: $color-default;
$btn-default-border: $btn-default-bg;
$btn-primary-color: $color-primary-contrast;
$btn-primary-bg: $color-primary;
$btn-primary-border: $btn-primary-bg;
$btn-success-color: $color-success-contrast;
$btn-success-bg: $color-success;
$btn-success-border: $btn-success-bg;
$btn-info-color: $color-info-contrast;
$btn-info-bg: $color-info;
$btn-info-border: $btn-info-bg;
$btn-warning-color: $color-warning-contrast;
$btn-warning-bg: $color-warning;
$btn-warning-border: $btn-warning-bg;
$btn-danger-color: $color-danger-contrast;
$btn-danger-bg: $color-danger;
$btn-danger-border: $btn-danger-bg;
$btn-link-color: $color-primary;
$btn-link-hover-color: $color-primary;
$btn-link-hover-decoration: underline;
$btn-link-disabled-color: $gray-light;
$btn-link-default-color: $color-default;
$btn-link-default-hover-color: $color-default;
$btn-link-default-hover-decoration: underline;
$btn-link-default-disabled-color: $gray-lighter;
$btn-border-radius-base: 3px;
$btn-border-radius-large: 4px;
$btn-border-radius-small: 3px;
$btn-background-position: null !default;
$btn-background-size: null !default;
$btn-box-shadow: none !default;
$btn-outline: none !default;
$btn-text-transform: none !default;
$btn-transition: all 0.3s !default;
$btn-active-gradient: none !default;
$btn-active-background-size: null !default;
$btn-active-box-shadow: none !default;
$btn-pill-border-radius: 4rem !default;
$btn-pill-padding-horizontal: 2.2rem !default;
$btn-thick-border-width: 2px !default;
$btn-thick-font-weight: 600 !default;
$btn-expander-font-size: 12px !default;
$btn-expander-line-height: math.ceil(math.div($btn-expander-font-size, 2)) !default;
$btn-badge-height-half: math.ceil(math.div(sum(2px, 2px * 2, 11px), 2)) !default;
$btn-font-size-xs: 1.2rem;
$btn-font-size-sm: 1.3rem;
$btn-font-size-md: 1.5rem;
$btn-font-size-lg: 2rem;
$btn-line-height-xs: 1.8rem;
$btn-line-height-sm: 2.2rem;
$btn-line-height-md: 2.4rem;
$btn-line-height-lg: 3rem;
$btn-icon-font-size-xs: 1.4rem;
$btn-icon-font-size-sm: 1.8rem;
$btn-icon-font-size-md: 2rem;
$btn-icon-font-size-lg: 3rem;
$btn-icon-line-height-xs: 1.2rem;
$btn-icon-line-height-sm: 1.4rem;
$btn-icon-line-height-md: 1.4rem;
$btn-icon-line-height-lg: 2.4rem;
$btn-padding-xs-vertical: 0.2rem;
$btn-padding-xs-vertical-icon: 0.2rem;
$btn-padding-xs-horizontal: 0.5rem;
$btn-padding-xs-horizontal-icon: 0.3rem;
$btn-padding-sm-vertical: 0.3rem;
$btn-padding-sm-vertical-icon: 0.2rem;
$btn-padding-sm-horizontal: 0.9rem;
$btn-padding-sm-horizontal-icon: 0.4rem;
$btn-padding-md-vertical: 0.5rem;
$btn-padding-md-vertical-icon: 0.2rem;
$btn-padding-md-horizontal: 1.5rem;
$btn-padding-md-horizontal-icon: 1rem;
$btn-padding-lg-vertical: 1.4rem;
$btn-padding-lg-vertical-icon: 0;
$btn-padding-lg-horizontal: 2.2rem;
$btn-padding-lg-horizontal-icon: 1.2rem;
$btn-icon-sm-height: $icon-height-sm;
$btn-icon-md-height: $icon-height-md;
$btn-icon-lg-height: $icon-height-lg;

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  svg {
    fill: $color;
    color: $color;
  }

  .badge {
    color: $background;
    background-color: $color;
  }

  &:focus,
  &.focus,
  &:hover {
    @media (hover: hover) and (pointer: fine) {
      svg {
        fill: $color;
        color: $color;
      }
    }
  }

  &:focus,
  &.focus {
    @media (hover: hover) and (pointer: fine) {
      color: $color;
      background-color: color.adjust($background, $lightness: -10%);
      border-color: color.adjust($border, $lightness: -25%);
    }
  }

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      color: $color;
      background-color: color.adjust($background, $lightness: -10%);
      border-color: color.adjust($border, $lightness: -12%);
    }
  }

  &:active,
  &.active {
    color: $color;
    background-color: color.adjust($background, $lightness: -10%);
    border-color: color.adjust($border, $lightness: -12%);
    background-image: none;

    &:hover,
    &:focus,
    &.focus {
      @media (hover: hover) and (pointer: fine) {
        color: $color;
        background-color: color.adjust($background, $lightness: -17%);
        border-color: color.adjust($border, $lightness: -25%);

        svg {
          fill: $color;
          color: $color;
        }
      }
    }

    svg {
      fill: $color;
      color: $color;
    }
  }

  &.disabled,
  &[disabled] {
    &:hover,
    &:focus,
    &.focus {
      @media (hover: hover) and (pointer: fine) {
        background-color: $background;
        border-color: $border;
      }
    }
  }
}

@mixin button-outline-variant($border, $color) {
  background-color: #fff;
  border-color: $border;
  color: $border;

  svg {
    fill: $border;
    color: $border;
  }

  .badge {
    background-color: $border;
    border-color: transparent;
    color: $color;

    svg {
      fill: $color;
      color: $color;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    @media (hover: hover) and (pointer: fine) {
      svg {
        fill: $color;
        color: $color;
      }
    }
  }

  &:active,
  &.active {
    svg {
      fill: $color;
      color: $color;
    }
  }

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      background-color: $border;
      border-color: $border;
      color: $color;
    }
  }

  &:focus,
  &.focus {
    @media (hover: hover) and (pointer: fine) {
      background-color: transparent;
      border-color: $border;
      color: $border;
    }
  }

  &:active,
  &.active, {
    background-color: $border;
    border-color: $border;
    color: $color;

    &:hover,
    &:focus,
    &.focus {
      @media (hover: hover) and (pointer: fine) {
        background-color: color.adjust($border, $lightness: -15%);
        border-color: color.adjust($border, $lightness: -15%);
        color: $color;
      }
    }
  }

  &.disabled,
  &[disabled] {
    &:hover,
    &:focus,
    &.focus {
      @media (hover: hover) and (pointer: fine) {
        background-color: transparent;
        border-color: $border;
        color: $border;

        svg {
          fill: $border;
          color: $border;
        }
      }
    }
  }
}

@mixin button-link-variant($color, $disabledColor, $hoverColor, $hoveDecoration) {
  color: $color;
  font-weight: normal;
  border-radius: 0;
  background-color: transparent;
  background-image: none;
  background-size: auto;
  border-color: transparent;

  svg {
    fill: $color;
    color: $color;
  }

  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    text-decoration: none;

    @include button-disabled-shadow;
  }

  &:hover,
  &:focus {
    @media (hover: hover) and (pointer: fine) {
      color: $hoverColor;
      text-decoration: $hoveDecoration;

      svg {
        fill: $hoverColor;
        color: $hoverColor;
      }
    }
  }

  &.disabled,
  &[disabled] {
    &:hover,
    &:focus {
      @media (hover: hover) and (pointer: fine) {
        color: $disabledColor;
        text-decoration: none;

        svg {
          fill: $disabledColor;
          color: $disabledColor;
        }
      }
    }
  }
}

@mixin button-active-shadow {
  @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, 0.125));
}

@mixin button-disabled-shadow {
  @include box-shadow(none);
}
