@import '../../variables/layout';

$margin-xs: $margin-xs;
$margin-sm: $margin-sm;
$margin-md: $margin-md;
$margin-lg: $margin-lg;
$padding-xs: $padding-xs;
$padding-sm: $padding-sm;
$padding-md: $padding-md;
$padding-lg: $padding-lg;
