@import "../../variables/colors";
@import "../../variables/texts";

$confirmation-heading-font-size:      $font-size-h3;
$confirmation-heading-font-weight:    $headings-font-weight;
$confirmation-heading-line-height:    $headings-line-height;
$confirmation-heading-margin-top:     $line-height-computed;
$confirmation-heading-margin-bottom:  $line-height-computed / 2;

$confirmation-variant-default:        $brand-default;
$confirmation-variant-primary:        $brand-primary;
$confirmation-variant-success:        $brand-success;
$confirmation-variant-info:           $brand-info;
$confirmation-variant-warning:        $brand-warning;
$confirmation-variant-danger:         $brand-danger;
