$button-color:                        #808080;

$variant-primary:                     #d9230f;
$variant-success:                     #469408;
$variant-info:                        #029acf;
$variant-warning:                     #9b479f;
$variant-danger:                      #d9831f;
