@import "../../mixins/utilities";
@import "../../variables/texts";

$media-font-family: $font-family-base;
$media-font-size: $font-size-base;
$media-heading-margin: 0;
$media-heading-font-size: 2.5rem;
$media-heading-line-height: 2.5rem;

@mixin flex-media {
  @include flex-row(nowrap);
}
