@import "../../../assets/variables/screen";
@import "../../../assets/mixins/utilities";

$z-index:                             9998 !default;

$overlay-background:                  rgba(0, 0, 0, .5);
$overlay-background-transparent:      rgba(255, 255, 255, .5);

$color-dark:                          #444;
$color-primary:                       #d9230f;
$font-size:                           1.3rem;
$line-height:                         2rem / $font-size;

$header-background-color:             #d9230f;
$header-color:                        #fff;
$header-close-color:                  #000;
$header-close-shadow:                 0 1px 0 #fff;
$header-button-font-size:             1.4rem;

$footer-padding:                      0 1.5rem 1.5rem 1.5rem;

$loader-width:                        25rem;
$loader-background-color:             #fff;

$content-border-radius:               4px;
$content-background-color:            #fff;

$modal-top-offset:                    7rem;

$modal-size-sm:                       30rem;
$modal-size-md:                       60rem;
$modal-size-lg:                       90rem;

$screen-tablet-min:                   $screen-sm-min;
$screen-desktop-min:                  $screen-md-min;

@mixin content-shadow {
  @include box-shadow(0 3px 9px rgba(0, 0, 0, .5));

  @media (min-width: $screen-tablet-min) {
    @include box-shadow(0 5px 15px rgba(0, 0, 0, .5));
  }
}

@mixin close {
  opacity: 0.2;
  filter: alpha(opacity=20);

  &:hover,
  &:focus {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
}

@mixin flex-phone-header {
  @include flexRow;

  flex-wrap: nowrap;
}
