@import "../../../assets/mixins/utilities";

$icon-color:                          #808080;
$icon-margin:                         1.5rem 0;

$child-icon-color:                    #ffffff;
$child-icon-background-color:         #d9230f;

$text-margin:                         1.5rem 0;
