@import "../../variables/colors";
@import "../../variables/layout";
@import "../../variables/sizes";

$result-color: $color-danger;
$result-icon-width: $icon-height-lg;
$result-content-margin: $margin-sm;
