$spinner-variant-default:             #777;
$spinner-variant-primary:             #d9230f;
$spinner-variant-success:             #469408;
$spinner-variant-info:                #029acf;
$spinner-variant-warning:             #9b479f;
$spinner-variant-danger:              #d9831f;

$spinner-size-sm:                     1.8rem;
$spinner-size-md:                     2.4rem;
$spinner-size-lg:                     4.8rem;
