@use 'sass:color';
@import '../../variables/colors';
@import '../../variables/sizes';
@import '../../mixins/utilities';

$switch-height-sm: $icon-height-sm;
$switch-width-sm: 2.5rem !default;
$switch-height-md: $icon-height-md;
$switch-width-md: 4.4rem !default;
$switch-height-lg: $icon-height-lg;
$switch-width-lg: 8.8rem !default;
$switch-variant-default: #777;
$switch-variant-primary: #d9230f;
$switch-variant-success: #469408;
$switch-variant-info: #029acf;
$switch-variant-warning: #9b479f;
$switch-variant-danger: #d9831f;
$track-background-color: #777;
$thumb-border-color: #777;
$thumb-background-color: #fff;

@mixin switch-variant($color) {
	input {
		&:checked {
			~ .fb-theme-ui-switch-element__track {
				background-color: $color;
			}

			~ .fb-theme-ui-switch-element__thumb {
				border-color: $color;
			}

			&:disabled {
				~ .fb-theme-ui-switch-element__track {
					background-color: color.adjust($color, $lightness: 30%);
				}

				~ .fb-theme-ui-switch-element__thumb {
					border-color: color.adjust($color, $lightness: 30%);
				}
			}
		}
	}
}
