@import "../../variables/colors";
@import "../../variables/sizes";

$spinner-variant-default: $color-default;
$spinner-variant-primary: $color-primary;
$spinner-variant-success: $color-success;
$spinner-variant-info: $color-info;
$spinner-variant-warning: $color-warning;
$spinner-variant-danger: $color-danger;
$spinner-size-sm: $icon-height-sm;
$spinner-size-sm-border: 0.2rem;
$spinner-size-md: $icon-height-md;
$spinner-size-md-border: 0.2rem;
$spinner-size-lg: $icon-height-lg;
$spinner-size-lg-border: 0.3rem;
