@import '../../../assets/components/layout/fb-preview-heading';

.fb-theme-layout-preview-heading {
	&__container {
		font-family: $heading-font-family;
		height: 5.5rem;
		align-items: center;
		justify-content: flex-start;
		border-bottom: $container-border;
		background-color: $container-background;
		padding: $container-padding;

		@include flex-content;
	}

	&__icon {
		font-size: 2.75rem;
		line-height: 2.75rem;

		@include flex-icon;
	}

	&__heading {
		flex-grow: 1;
		align-items: center;
		justify-content: flex-start;

		@include flex-heading;

		h2 {
			margin: 0;
			line-height: 2.2rem;
			height: auto;
			font-size: $heading-font-size;

			small {
				font-weight: normal;
				line-height: 1;
				color: $heading-color;
				font-size: 65%;
				display: block;
			}
		}
	}

	&__buttons {
		align-items: center;
		justify-content: flex-end;

		@include flex-buttons;
	}
}
