@import "../../../assets/variables/colors";

.fb-md-field-error {
  &__container {
    display: block;
    margin-top: 3px;
    position: absolute;
    visibility: visible;
    width: 100%;
    color: $text-danger;
  }
}
