@import "../../../assets/components/layout/fb-sidebar";

.fb-theme-layout-sidebar {
  &__container {
    z-index: $z-index;
    width: 0;
    height: 100%;
    transition: width 0.3s;

    @media (min-width: $screen-tablet-min) {
      width: $sidebar-width;

      @media (max-width: $screen-desktop-max) {
        width: $sidebar-collapsed-width;
      }
    }

    @media (max-width: $screen-phone-max) {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__inner {
    height: 100%;
    background-color: $sidebar-background-color;
    color: $sidebar-color;

    @media (max-width: $screen-phone-max) {
      transform: translateX($sidebar-phone-width);
      flex-direction: column;
      justify-content: space-between;
      min-height: 100vh;
      top: 0;
      right: 0;
      overflow-y: auto;
      z-index: $z-index-overlay + 1;
      position: fixed;
      width: $sidebar-phone-width;
      transition: transform 0.3s ease-in-out;

      &-open {
        transform: translateX(0);
      }
    }

    @include flex-inner;
  }

  &__header {
    overflow: hidden;
  }

  &__header,
  &__footer {
    height: 5rem;
  }

  &__content {
    flex-grow: 1;
  }

  &__overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    z-index: $z-index-overlay;
    position: fixed;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(0 0 0 / 50%);

    @media (min-width: $screen-tablet-min) {
      display: none;
    }
  }
}

.fb-theme-layout-sidebar-overlay-enter-active,
.fb-theme-layout-sidebar-overlay-leave-active {
  transition: opacity 0.25s ease-in-out;
}

.fb-theme-layout-sidebar-overlay-enter-from,
.fb-theme-layout-sidebar-overlay-leave-to {
  opacity: 0;
}

.fb-theme-layout-sidebar-overlay-enter-to {
  opacity: 1;
}
