@import '../../../../assets/components/layout/fb-header';

.fb-theme-layout-header-button {
	&__container {
		display: block;
		background-color: transparent;
		background-image: none;
		border: none;
		line-height: 6rem;
		font-size: 2.5rem;
		text-align: center;
		text-transform: lowercase;
		color: $header-color;
		outline: none;
		padding: 0 1rem;
		text-decoration: none;

		&-small {
			height: 3rem;
			line-height: 3rem;
			font-size: 1.5rem;
		}

		&-textual {
			font-size: 1.5rem;
			width: auto;
		}

		&-left {
			order: -1;
		}

		&-right {
			order: 1;
		}

		&:active {
			outline: 0;
			background-image: none;
		}
	}
}
