@import '../../../assets/components/ui/fb-card-box';

.fb-theme-ui-card {
	&__container {
		font-family: $card-font-family;
		border: none;
		border-radius: $card-border-radius;
		box-shadow: $card-box-shadow;
		display: block;
		margin: $card-margin;
		position: relative;
	}

	&__header {
		background-color: $card-header-background-color;
		color: $card-header-color;
		border-bottom: 1px solid $card-border-color;
		padding: $card-padding;
		position: relative;
	}

	&__body {
		padding: $card-padding-vertical;
		position: relative;
	}
}
