.fb-icon-with-child-story-block {
	display: flex;
	align-items: center;

	.fb-icon-with-child-story-block__item {
		margin-right: 20px;
	}

	.fb-icon-with-child-story-block__item:last-child {
		margin-right: 0;
	}

	.icon-color {
		color: var(--fb-color-default);
	}
}
