@import "../../../assets/components/ui/fb-alert";

.fb-ui-alert {
  &__container {
    position: relative;
    padding: $alert-padding;
    border: 1px solid transparent;

    @include alert-radius;

    &[data-variant="default"] {
      @include alert-variant($alert-default-bg, $alert-default-border, $alert-default-color);
    }

    &[data-variant="primary"] {
      @include alert-variant($alert-primary-bg, $alert-primary-border, $alert-primary-color);
    }

    &[data-variant="success"] {
      @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-color);
    }

    &[data-variant="danger"] {
      @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-color);
    }

    &[data-variant="warning"] {
      @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-color);
    }

    &[data-variant="info"] {
      @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-color);
    }
  }

  &__icon {
    @include flex-alert;

    &-inner {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
      flex: 0 0 10%;
      max-width: 10%;

      text-align: center;
      vertical-align: top;
      display: table-cell;

      padding-right: 0;
    }
  }

  &__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;

    padding-left: 0;
  }
}
