@import "../../../assets/components/ui/fb-alert";

.fb-theme-ui-alert {
  &__container {
    font-family: $alert-font-family;
    position: relative;
    padding: $alert-padding;
    border: 1px solid transparent;

    @include alert-radius;

    &[data-variant="default"] {
      @include alert-variant($alert-default-bg, $alert-default-border, $alert-default-color);
    }

    &[data-variant="primary"] {
      @include alert-variant($alert-primary-bg, $alert-primary-border, $alert-primary-color);
    }

    &[data-variant="success"] {
      @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-color);
    }

    &[data-variant="danger"] {
      @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-color);
    }

    &[data-variant="warning"] {
      @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-color);
    }

    &[data-variant="info"] {
      @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-color);
    }
  }

  &__with-icon {
    @include flex-alert;

    &-icon {
      text-align: center;
      vertical-align: top;
      padding: 0 $alert-icon-padding 0 0;
    }

    &-content {
      flex-grow: 2;
      padding: 0;
    }
  }
}
