@import '../../../../assets/components/layout/fb-sign-footer';

.fb-theme-layout-sign-footer-item {
	&__container {
		display: inline-block;
		padding: $item-padding;
		border-left: 1px solid $item-spacer-color;
		line-height: $item-line-height;
		height: $item-height;

		&:first-child {
			border-left: none;
		}

		a {
			color: $item-color;

			&:hover,
			&:focus {
				color: $item-link-color;
				text-decoration: none;
			}
		}
	}
}
