@import "../../variables/colors";
@import "../../variables/layout";
@import "../../variables/texts";
@import "../../mixins/utilities";

$checkbox-font-family: $font-family-base;
$checkbox-indicator-size: 1.5rem !default;
$checkbox-indicator-bg-color: $white;
$checkbox-indicator-border-color: $gray-lighter;
$checkbox-indicator-checked-bg-color: $color-primary;
$checkbox-indicator-checked-border-color: $color-primary;
$checkbox-indicator-disabled-bg-color: $gray-lighter;
$checkbox-indicator-margin: $margin-sm;
$checkbox-indicator-font-size: $font-size-base;
$checkbox-indicator-line-height: $checkbox-indicator-size;
$checkbox-label-padding: 0 $padding-sm 0 sum($checkbox-indicator-size, 1rem);
$checkbox-error-color: $color-danger;

@mixin checkbox-indicator-radius {
  @include border-radius(2px);
}
