@import "../../../assets/variables/screen";
@import "../../../assets/variables/texts";
@import "../../../assets/mixins/utilities";

$field-font-family:                   $font-family-base;
$field-font-size:                     $font-size-base;

$field-default-color:                 #777;
$field-error-color:                   #d9831f;

$field-horizontal-margin:             0 1.5rem;

$field-size-sm-font-size:             1.3rem;
$field-size-sm-line-height:           2.5rem;
$field-size-sm-height:                2.5rem;
$field-size-sm-padding:               0 1.5rem;
$field-size-sm-border-radius:         2px;

$field-size-md-font-size:             1.5rem;
$field-size-md-line-height:           3.4rem;
$field-size-md-height:                3.4rem;
$field-size-md-padding:               0 1rem;
$field-size-md-addon-padding:         0 1rem;
$field-size-md-border-radius:         3px;

$field-size-lg-font-size:             2.5rem;
$field-size-lg-line-height:           4.5rem;
$field-size-lg-height:                4.5rem;
$field-size-lg-padding:               0 1.5rem;
$field-size-lg-border-radius:         4px;

$field-addon-background:              #ddd;
$field-addon-border-color:            #ddd;

$screen-tablet-min:                   $screen-sm-min;

@mixin errored-field-shadow {
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
}

@mixin errored-field-focus-shadow {
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px lighten($field-error-color, 20%));
}

@mixin field-sm-border-radius {
  @include border-radius($field-size-sm-border-radius);
}

@mixin field-md-border-radius {
  @include border-radius($field-size-md-border-radius);
}

@mixin field-lg-border-radius {
  @include border-radius($field-size-lg-border-radius);
}

@mixin field-remove-border-radius {
  @include border-radius(0);
}

@mixin field-remove-left-border-radius {
  @include border-left-radius(0);
}

@mixin field-remove-right-border-radius {
  @include border-right-radius(0);
}

@mixin field-md-left-addon-border-radius {
  @include border-left-radius($field-size-md-border-radius);
}

@mixin field-md-right-addon-border-radius {
  @include border-right-radius($field-size-md-border-radius);
}
