$input-background:                    #fff;
$input-background-readonly:           #f2f2f2;
$input-background-disabled:           #ddd;

$input-color:                         #777;
$input-color-placeholder:             #ddd;
$input-color-readonly:                #808080;

$input-border-color:                  #ddd;
$input-border-color-focus:            #66afe9;
