@use 'sass:color';
@import '../../mixins/utilities';
@import '../../variables/colors';

$input-background: $white;
$input-background-readonly: #f2f2f2;
$input-background-disabled: $gray-lighter;
$input-color: $gray;
$input-color-placeholder: $gray-lighter;
$input-color-readonly: $gray-light;
$input-border-color: $gray-lighter;
$input-border-color-focus: #66afe9;
$input-border-radius-sm: 2px;
$input-border-radius-md: 3px;
$input-border-radius-lg: 4px;
$input-border-color-error: $color-danger;

@mixin textarea-border-radius($border-radius) {
	@include border-radius($border-radius);
}

@mixin textarea-error-shadow {
	@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
}

@mixin textarea-error-focus-shadow {
	@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px color.adjust($color-danger, $lightness: 20%));
}
