@use 'sass:color';
@import '../../../assets/components/form/fb-text-area';

.fb-theme-form-textarea {
	&__control {
		display: block;
		width: 100%;
		height: auto;
		background-clip: padding-box;
		background-color: $input-background;
		background-image: none;
		box-shadow: none;
		color: $input-color;
		border: 1px solid $input-border-color;
		transition:
			border-color ease-in-out 0.15s,
			box-shadow ease-in-out 0.15s;
		box-sizing: border-box;
		resize: vertical;

		/* Unstyle the caret on `<select>`s in IE10+ */
		&::-ms-expand {
			border: 0;
			background-color: transparent;
		}

		&:focus {
			border-color: $input-border-color-focus;
			outline: none;
		}

		&[disabled],
		&[readonly] {
			background-color: $input-background-disabled;
			opacity: 1;
			filter: alpha(opacity=100);
		}

		&[readonly] {
			color: $input-color-readonly;
			background-color: $input-background-readonly;
			opacity: 1;
			filter: alpha(opacity=100);
		}

		&[disabled] {
			cursor: not-allowed;
		}

		&[data-size='lg'] {
			@include textarea-border-radius($input-border-radius-lg);
		}

		&[data-size='md'] {
			@include textarea-border-radius($input-border-radius-md);
		}

		&[data-size='sm'] {
			@include textarea-border-radius($input-border-radius-sm);
		}

		&[data-error='true'] {
			border-color: $input-border-color-error;

			@include textarea-error-shadow;

			&:focus {
				border-color: color.adjust($input-border-color-error, $lightness: -10%);

				@include textarea-error-focus-shadow;
			}
		}
	}
}
