@import "../../../assets/variables/colors";

.fb-sign-header {
  &__container {
    margin-bottom: 15px;
  }

  &__brand {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;

    svg {
      shape-rendering: geometricPrecision;
      text-rendering: geometricPrecision;
      image-rendering: optimizeQuality;
      fill-rule: evenodd;
      clip-rule: evenodd;
      fill: $brand-primary;

      path {
        fill: $brand-primary;
      }
    }
  }
}
