@function sum($values...) {
  $result: 0;

  @each $value in $values {
    $result: $result + $value;
  }

  @return $result;
}

@mixin flex-row($wrap: wrap) {
  display: flex;
  flex-flow: row $wrap;
}

@mixin flex-column($wrap: wrap) {
  display: flex;
  flex-flow: column $wrap;
}

@mixin flex-box-width($width) {
  -webkit-box-flex: 0;
  flex: 0 0 $width;
  max-width: $width;
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin background-opacity($color, $opacity: 0.3) {
  background-color: rgba($color, $opacity);
}

@mixin color-opacity($color, $opacity: 0.3) {
  color: rgba($color, $opacity);
}
