@import "../../../assets/components/ui/fb-confirmation-window";

.fb-ui-confirmation-window {
  &__container {
    text-align: center;

    &[data-variant="primary"] {
      h3 {
        color: $variant-primary;
      }
    }

    &[data-variant="success"] {
      h3 {
        color: $variant-success;
      }
    }

    &[data-variant="danger"] {
      h3 {
        color: $variant-danger;
      }
    }

    &[data-variant="warning"] {
      h3 {
        color: $variant-warning;
      }
    }

    &[data-variant="info"] {
      h3 {
        color: $variant-info;
      }
    }
  }

  &__buttons {
    margin-top: 30px;
    text-align: right;

    .fb-ui-button[data-variant="link"] {
      color: $button-color !important;
    }
  }
}
