.fb-spinner-story-block {
    display: flex;
    align-items: center;

    .fb-spinner-story-block__item {
        margin-right: 20px;
    }

    .fb-spinner-story-block__item:last-child {
        margin-right: 0;
    }
}
