@import "../assets/variables/colors";
@import "../assets/variables/texts";

.fb-story-colors {
  &__container {
    margin: 3rem;
    max-width: 100%;
    font-family: $font-family-base;
    font-size: $font-size-base;
  }

  &__colors {
    &-item {
      height: 100px;
      width: 250px;
      display: inline-block;
      margin: 0 1rem 1rem 0;

      &-desc {
        padding: 10px;
        background: white;
      }

      &-primary {
        background-color: $color-primary;
      }

      &-success {
        background-color: $color-success;
      }

      &-info {
        background-color: $color-info;
      }

      &-warning {
        background-color: $color-warning;
      }

      &-danger {
        background-color: $color-danger;
      }

      &-default {
        background-color: $color-default;
      }
    }
  }
}
