@import "../../../assets/components/ui/fb-result-ok";

.fb-ui-result-ok {
  &__container {
    width: $icon-width;
    display: block;
    margin: 0 auto;

    svg {
      width: 100%;
      display: block;
      margin: 0;

      circle,
      polyline {
        fill: none;
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        stroke: $color;
        stroke-width: 6;
        stroke-miterlimit: 10;
      }

      circle {
        -webkit-animation: fb-ui-result-ok-dash .9s ease-in-out;
        animation: fb-ui-result-ok-dash .9s ease-in-out;
      }

      polyline {
        stroke-dashoffset: -100;
        stroke-linecap: round;
        -webkit-animation: fb-ui-result-ok-dash-check .9s .35s ease-in-out forwards;
        animation: fb-ui-result-ok-dash-check .9s .35s ease-in-out forwards;
      }
    }
  }
}

@-webkit-keyframes fb-ui-result-ok-dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fb-ui-result-ok-dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fb-ui-result-ok-dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes fb-ui-result-ok-dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
