@import "../../../assets/components/layout/fb-content";

.fb-layout-content {
  &__container {
    height: 100%;
    overflow: hidden;
    flex-grow: 1;

    @include flex-content;
  }

  &__header {
    z-index: $z-index
  }

  &__content {
    overflow: hidden;
    flex-grow: 1;
  }

  &__footer {
    z-index: $z-index
  }
}
