@import "../../../../assets/components/layout/fb-user-menu";

.fb-theme-layout-user-menu-divider {
  &__container {
    height: 1px;
    overflow: hidden;
    background-color: $menu-border-color;
    margin: $menu-item-divider-margin;
  }
}
