@import "../../../assets/components/form/fb-radio-button";

.fb-form-radio-button {
  &__container {
    display: inline-block;
    position: relative;
    line-height: $radio-indicator-line-height;
    font-family: $radio-font-family;
    font-size: $radio-indicator-font-size;
    font-weight: 400;
    height: $radio-indicator-size;
    padding: $radio-padding;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text; // IE10+
    user-select: text;

    .fb-form-radio-button {
      &__indicator {
        background-color: $radio-indicator-bg-color;
        border-color: $radio-indicator-border-color;
        border-style: solid;
        border-width: 1px;
        display: block;
        position: absolute;
        left: 0;
        top: (($radio-indicator-size - $radio-indicator-font-size) / 2) * -1;
        width: $radio-indicator-size;
        height: $radio-indicator-size;

        @include radio-indicator-radius;
      }
    }

    &[data-error="true"] {
      .fb-form-radio-button {
        &__indicator {
          border-color: $radio-error-color;
        }

        &__indicator-label {
          color: $radio-error-color;
        }
      }
    }
  }

  &__input {
    display: none;

    &:checked ~ .fb-form-radio-button__indicator {
      border-color: $radio-indicator-checked-border-color;
      background-color: $radio-indicator-checked-bg-color;

      &::after {
        content: ' ';
        width: ($radio-indicator-size * 0.75);
        height: ($radio-indicator-size * 0.75);
        display: block;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: ($radio-indicator-size - ($radio-indicator-size * 0.75)) / 2 - 0.1rem;
        left: ($radio-indicator-size - ($radio-indicator-size * 0.75)) / 2 - 0.1rem;
      }
    }

    &:active ~ .fb-form-radio-button__indicator {
      border-color: $radio-indicator-checked-border-color;
      background-color: lighten($radio-indicator-checked-bg-color, 25);
    }

    &:disabled ~ .fb-form-radio-button__indicator {
      background-color: $radio-indicator-disabled-bg-color;
    }

    &:disabled:checked ~ .fb-form-radio-button__indicator {
      background-color: $radio-indicator-disabled-bg-color;
    }
  }
}
