.fb-slider-story-block {
	.fb-slider-story-block__item {
		max-width: 600px;
		margin-bottom: 20px;
	}

	.fb-slider-story-block__item:last-child {
		margin-bottom: 0;
	}

	.fb-col {
		margin-bottom: 20px;
	}
}
