$gray-base:                             #000; // shades-tints
$gray-darker:                           #222;
$gray-dark:                             #444;
$gray:                                  #777;
$gray-light:                            #808080;
$gray-lighter:                          #ddd;

$brand-primary:                         #d9230f;
$brand-primary-contrast:                #ffffff;
$brand-success:                         #469408;
$brand-info:                            #029acf;
$brand-warning:                         #9b479f;
$brand-danger:                          #d9831f;

//** Background color for '<body>'.
$body-bg:                               #fcfcfc;

//** Global text color on '<body>'.
$text-color:                            $gray;

//** Global textual link color.
$link-color:                            $brand-primary;

//** Link hover color set via 'darken()' function.
$link-hover-color:                      $brand-primary;

//** Link hover decoration.
$link-hover-decoration:                 underline;

$text-muted:                            $gray-light;
$text-default:                          $gray;
$text-danger:                           $brand-danger;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:                #fff;

//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:                   $brand-primary;

$link-muted-color:                      $text-color !default;
$link-muted-hover-color:                $link-color !default;
$link-muted-hover-decoration:           none !default;

$link-inverted-color:                   #fff !default;
$link-inverted-hover-color:             #fff !default;
$link-inverted-hover-decoration:        none !default;

$hr-border:                             $gray-lighter;

//** Headings small color
$headings-small-color:                  $gray-light;

$state-success-text:                    $brand-success;
$state-success-bg:                      #c8e6c9;
$state-success-border:                  darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text:                       $brand-info;
$state-info-bg:                         #b3e5fc;
$state-info-border:                     darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text:                    $brand-warning;
$state-warning-bg:                      #e1bee7;
$state-warning-border:                  darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text:                     $brand-danger;
$state-danger-bg:                       #ffe0b2;
$state-danger-border:                   darken(adjust-hue($state-danger-bg, -10), 5%);
