@use "sass:color";

$white: #fff;
$gray-base: #000;
$gray-darker: #222;
$gray-dark: #444;
$gray: #777;
$gray-light: #808080;
$gray-lighter: #ddd;
$color-brand-primary: #d9230f;
$color-brand-secondary: #444;
$color-primary: #d9230f;
$color-primary-contrast: #fff;
$color-success: #469408;
$color-success-contrast: #fff;
$color-info: #029acf;
$color-info-contrast: #fff;
$color-warning: #9b479f;
$color-warning-contrast: #fff;
$color-danger: #d9831f;
$color-danger-contrast: #fff;
$color-default: #474949;
$color-default-contrast: #fff;
$bg-color-body: #fcfcfc;
$bg-color-content: #fff;
$text-color: $gray;
$link-color: $color-primary;
$link-hover-color: $color-primary;
$link-hover-decoration: underline;
$hr-border: $gray-lighter;
$state-success-text: $color-success;
$state-success-bg: #c8e6c9;
$state-success-border: color.adjust(color.adjust($state-success-bg, $hue: -10), $lightness: -5%);
$state-info-text: $color-info;
$state-info-bg: #b3e5fc;
$state-info-border: color.adjust(color.adjust($state-info-bg, $hue: -10), $lightness: -7%);
$state-warning-text: $color-warning;
$state-warning-bg: #e1bee7;
$state-warning-border: color.adjust(color.adjust($state-warning-bg, $hue: -10), $lightness: -5%);
$state-danger-text: $color-danger;
$state-danger-bg: #ffe0b2;
$state-danger-border: color.adjust(color.adjust($state-danger-bg, $hue: -10), $lightness: -5%);
