@import "colors";

$font-size:                             13px;
$font-size-large:                       18px;
$font-size-small:                       12px;

$line-height:                           floor(($font-size * (20px / $font-size)));
$line-height-large:                     1.3333333;
$line-height-small:                     1.5;

$padding-vertical:                      6px;
$padding-horizontal:                    12px;

$padding-large-vertical:                10px;
$padding-large-horizontal:              16px;

$padding-small-vertical:                5px;
$padding-small-horizontal:              10px;

$padding-xs-vertical:                   1px;
$padding-xs-horizontal:                 5px;

$margin-bottom:                         $line-height !default;

$cursor-disabled:                       not-allowed;

$indicator-size:                        14px !default;

$form-group-margin-bottom:              $line-height !default;
$form-group-padding-vertical:           20px !default;
$form-grid-gutter-width:                30px;

$input-height:                          ($line-height + ($padding-vertical * 2) + 2);
$input-height-large:                    (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
$input-height-small:                    (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);

$input-bg:                              #fff;
$input-bg-readonly:                     #f2f2f2;
$input-bg-disabled:                     #ddd;

$input-box-shadow:                      none !default;

$input-border:                          #ddd;
$input-border-focus:                    #66afe9;

$input-border-radius:                   3px;
$input-border-radius-large:             4px;
$input-border-radius-small:             2px;

$input-color-placeholder:               #ddd;

$input-group-addon-bg:                  #ddd;
$input-group-addon-border-color:        $input-border;

$input-group-btn-font-weight:           normal;
$input-group-btn-background-position:   null !default;
$input-group-btn-background-size:       null !default;
$input-group-btn-box-shadow:            none !default;
$input-group-btn-outline:               none !default;
$input-group-btn-text-transform:        none !default;
$input-group-btn-transition:            all 0.3s !default;

$input-default-color:                   #fff;
$input-default-bg:                      #474949;
$input-default-border:                  $input-default-bg;

$input-primary-color:                   #fff;
$input-primary-bg:                      $brand-primary;
$input-primary-border:                  $input-primary-bg;

$input-success-color:                   #fff;
$input-success-bg:                      $brand-success;
$input-success-border:                  $input-success-bg;

$input-info-color:                      #fff;
$input-info-bg:                         $brand-info;
$input-info-border:                     $input-info-bg;

$input-warning-color:                   #fff;
$input-warning-bg:                      $brand-warning;
$input-warning-border:                  $input-warning-bg;

$input-danger-color:                    #fff;
$input-danger-bg:                       $brand-danger;
$input-danger-border:                   $input-danger-bg;

$input-pill-border-radius:              10em !default;
$input-pill-padding-horizontal:         1.25em !default;

$md-form-group-margin-bottom:           $line-height !default;
$md-form-group-padding-vertical:        20px !default;

$md-form-control-font-size:             16px !default;
$md-form-control-line-height:           20px !default;
$md-form-control-padding-vertical:      4px !default;

$md-control-label-top:                  sum($md-form-group-padding-vertical, $md-form-control-padding-vertical) !default;
$md-control-label-focused-font-size:    12px !default;
