$layout-sidebar-width: 220px;
$layout-sidebar-collapsed-width: 60px;
$layout-transition-duration: 0.3s !default;
$padding-base-vertical: 0.5rem;
$padding-base-horizontal: 1rem;
$padding-xs-vertical: 0.5rem;
$padding-xs-horizontal: 1rem;
$padding-sm-vertical: 1rem;
$padding-sm-horizontal: 1.5rem;
$padding-md-vertical: 1.5rem;
$padding-md-horizontal: 3rem;
$margin-xs: 0.5rem;
$margin-sm: 1rem;
$margin-md: 1.5rem;
$margin-lg: 3rem;
$padding-xs: 0.5rem;
$padding-sm: 1rem;
$padding-md: 1.5rem;
$padding-lg: 3rem;
