/* z-indexes */
$zindex-layout-header: 1030 !default;
$zindex-layout-footer: 1000 !default;
$zindex-layout-content: 1000 !default;
$zindex-layout-sidebar: 1000 !default;
$zindex-sidenav-subnav: 1030 !default;
$zindex-dropdown: 1000 !default;
$zindex-off-canvas-background: 1050 !default;
$zindex-off-canvas: 9990 !default;
$zindex-modal-background: 1060 !default;
$zindex-modal: 9998 !default;

/* sizes */
$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-phone: $screen-xs-min;
$screen-tablet: $screen-sm-min;
$screen-desktop: $screen-md-min;
$screen-lg-desktop: $screen-lg-min;
$screen-xs-min: $screen-phone;
$screen-sm-min: $screen-tablet;
$screen-md-min: $screen-desktop;
$screen-lg-min: $screen-lg-desktop;

/* So media queries don't overlap when required, provide a maximum */
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
