@use 'sass:math';

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Georgia', 'Times New Roman', 'Times', serif;
$font-family-monospace: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;
$font-size-large: 1.8rem;
$font-size-base: 1.3rem;
$font-size-small: 1.2rem;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$line-height-base: math.div(2rem, $font-size-base);
$line-height-computed: math.floor(($font-size-base * $line-height-base));
$line-height-large: 1.3333;
$line-height-small: 1.5;
$headings-font-family: inherit;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: inherit;
$font-size-h1: math.floor($font-size-large * math.div(6, 3)); /* 100% larger */
$font-size-h2: math.floor($font-size-large * math.div(5, 3)); /*  66% larger */
$font-size-h3: math.floor($font-size-large * math.div(4, 3)); /*  33% larger */
$font-size-h4: $font-size-large;
$font-size-h5: $font-size-base;
$font-size-h6: $font-size-small;
