@import "../../../assets/styles/variables";
@import "../../../assets/styles/custom/variables";
@import "../../../assets/theme/mixins";

.fb-navigation {
  &__container {
    @media (max-width: $screen-sm-max) {
      max-height: 500px;
      /* overflow set to hidden to hide the expanded text */
      overflow: hidden;
      /* all style changes will ease-in-out for 1s */
      -moz-transition: max-height 0.5s ease-in-out;
      -ms-transition: max-height 0.5s ease-in-out;
      -o-transition: max-height 0.5s ease-in-out;
      -webkit-transition: max-height 0.5s ease-in-out;
      transition: max-height 0.5s ease-in-out;
    }

    @media (min-width: $screen-lg-min) {
      padding-bottom: 5px;
      padding-top: 5px;
      height: 100%;
      overflow: hidden;
      width: 100%;
    }

    ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;

      @include clearfix;

      > li {
        display: block;
        position: relative;
      }

      > li > a {
        color: $gray-light;
        display: block;
        font-size: $font-size-base;
        line-height: 18px;
        padding: 10px 15px;
        position: relative;
        text-decoration: none;
        transition: all $layout-transition-duration;

        @media (min-width: $screen-sm-min) AND (max-width: $screen-md-max) {
          height: 45px;
          line-height: 45px;
          padding: 0;
        }
      }

      // Hover state
      > li:hover > a,
      > li.hover > a {
        background-color: darken($gray-darker, 3.5%);
        color: $gray-light;

        :after,
        :after {
          @media (min-width: $screen-sm-min) AND (max-width: $screen-md-max) {
            content: normal;
            display: none;
          }
        }
      }

      // Active state
      > li.active > a {
        background-color: null;
        color: #fff;
      }

      // Active indicator
      > li.active > a:after {
        border-color: transparent $body-bg transparent transparent;
        border-style: solid;
        border-width: 6px;
        content: "";
        height: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
      }
    }
  }

  &__container.collapse {
    max-height: 0;
    display: block;
  }

  &__heading {
    color: $gray-light;
    font-size: $font-size-small;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 15px;
    overflow: hidden;
    padding: 10px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (min-width: $screen-sm-min) AND (max-width: $screen-md-max) {
      margin: 0;
      padding: 0;
      visibility: hidden;
    }
  }

  &__item-icon {
    color: null;
    display: block;
    float: left;
    font-size: $font-size-base;
    height: 18px;
    line-height: 18px;
    margin-right: 10px;
    text-align: center;
    width: 18px;

    @media (max-width: $screen-sm-min) {
      width: 15px;
    }

    @media (min-width: $screen-sm-min) AND (max-width: $screen-md-max) {
      float: none;
      height: 20px;
      line-height: 20px;
      margin-left: 0;
      margin-top: 12px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
    }
  }

  &__item-label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (min-width: $screen-sm-min) AND (max-width: $screen-md-max) {
      display: none;
    }
  }
}
