@import '../../variables/colors';
@import '../../variables/screen';
@import '../../variables/layout';
@import '../../mixins/utilities';

$z-index: 1030 !default;
$items-border: 1px solid $gray-lighter;
$search-padding: $padding-sm;
$search-border: 1px solid $gray-lighter;
$search-background: $bg-color-content;
$screen-tablet-min: $screen-sm-min;
$screen-tablet-max: $screen-sm-max;

@mixin flex-container {
	@include flex-column(nowrap);
}

@mixin flex-content {
	@include flex-row(nowrap);
}

@mixin flex-inner {
	@include flex-column(nowrap);
}
