@import '../../variables/screen';
@import '../../mixins/utilities';

$navigation-margin: 1.5rem 0;
$navigation-padding: 0 0 0.5rem 0;
$heading-color: #fff;
$heading-font-size: 1.3rem;
$heading-padding: 0 0 0 1.5rem;
$heading-margin: 1rem 0 0.5rem 0;
$item-color: #808080;
$item-line-height: 4rem;
$item-font-size: 1.2rem;
$item-sm-font-size: 1.5rem;
$item-hover-background-color: #222;
$item-hover-color: #fff;
$item-active-background-color: #222;
$item-active-color: #fff;
$screen-tablet-min: $screen-sm-min;
$screen-desktop-max: $screen-md-max;

@mixin flex-item {
	@include flex-row(nowrap);
}
