@import "../../variables/colors";
@import "../../variables/screen";
@import "../../variables/texts";
@import "../../mixins/utilities";

$off-canvas-overlay-color: rgb(0 0 0 / 50%);
$off-canvas-overlay-zindex: $zindex-off-canvas-background;
$off-canvas-body-color: $bg-color-body;
$off-canvas-body-zindex: $zindex-off-canvas;
$off-canvas-font-family: $font-family-base;

@mixin flex-box {
  @include flex-row(nowrap);
  @include box-shadow(0 3px 9px rgba(0, 0, 0, 0.5));
}

@mixin flex-heading {
  @include flex-row(nowrap);
}

@mixin flex-heading-title {
  @include flex-column;
}
