@import "../../variables/colors";
@import "../../variables/layout";
@import "../../variables/screen";
@import "../../variables/texts";
@import "../../mixins/utilities";

$off-canvas-header-height: 5rem;
$off-canvas-header-padding: 0 $padding-md;
$off-canvas-header-color: $color-primary-contrast;
$off-canvas-header-bg-color: $color-primary;
$off-canvas-header-font-size: $font-size-h4;
$off-canvas-header-font-weight: $headings-font-weight;
$off-canvas-header-line-height: $headings-line-height;
$off-canvas-header-color: $color-primary-contrast;
$off-canvas-button-color: $color-primary-contrast;
$off-canvas-button-font-size: 2.5rem;
$off-canvas-button-line-height: 5rem;
$off-canvas-overlay-color: rgb(0 0 0 / 50%);
$off-canvas-overlay-zindex: $zindex-sidenav-subnav;
$off-canvas-body-color: $bg-color-body;
$off-canvas-body-zindex: ($zindex-sidenav-subnav + 10);
$off-canvas-font-family: $font-family-base;

@mixin flex-box {
  @include flex-row(nowrap);
  @include box-shadow(0 3px 9px rgba(0, 0, 0, 0.5));
}

@mixin flex-heading {
  @include flex-row(nowrap);
}

@mixin flex-heading-title {
  @include flex-column;
}
