@import "../../../assets/mixins/utilities";

$z-index:                             9998 !default;

$backdrop-background-color:           rgba(0, 0, 0, .5);

$heading-border-color:                #ddd;
$heading-line-height:                 1.5rem;
$heading-padding:                     1.5rem;
$heading-margin:                      0;

$items-background-color:              #fff;

$close-button-border-color:           #ddd;
$close-button-padding:                1rem 0;

@mixin items-border-radius {
  @include border-radius(1.5rem);
}
