@import '../../variables/colors';
@import '../../variables/layout';
@import '../../variables/texts';
@import '../../mixins/utilities';

$heading-font-family: $font-family-base;
$container-padding: $padding-sm 0 $padding-sm $padding-sm;
$container-background: $bg-color-content;
$container-border: 1px solid $gray-lighter;
$heading-font-size: $font-size-large;
$heading-color: $gray-light;

@mixin flex-content {
	@include flex-row(nowrap);
}

@mixin flex-icon {
	@include flex-box-width(3.5rem);
}

@mixin flex-heading {
	@include flex-row(nowrap);
}

@mixin flex-buttons {
	@include flex-row(nowrap);
}
