$footer-margin: 1.5rem 0;
$footer-items-margin: 3rem 0;
$footer-items-padding: 0;
$item-padding: 0 1rem;
$item-height: 1.5rem;
$item-line-height: $item-height;
$item-spacer-color: #777;
$item-color: #777;
$item-link-color: #d9230f;
