@import '../../variables/screen';
@import '../../mixins/utilities';

$z-index: 1030 !default;
$navigation-background-color: #d9230f;
$navigation-color: #fff;
$item-color: #fff;
$item-padding: 0.5rem 0 0 0;
$item-badge-margin: 0 0 0 1rem;
$screen-tablet-min: $screen-sm-min;

@mixin shadow {
	@include box-shadow(0 -3px 9px rgba(0, 0, 0, 0.5));
}

@mixin flex-tabs {
	@include flex-row(nowrap);

	flex-wrap: nowrap;
}
