// .Icon with a small icon at the bottom right
.icon-with-child {
  display: inline-block;
  line-height: 1;
  position: relative;
}

.icon-child {
  bottom: $icon-child-bottom;
  box-shadow: $icon-child-box-shadow;
  display: block;
  position: absolute;
  right: $icon-child-right;
  z-index: 2;
}

// Sizes
.icon-lg {
  // Makes the font 33% larger relative to the icon container
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon-5x {
  font-size: 5em;
}

// Fixed width
.icon-fw {
  width: (18em / 14);
}
