@import "../../../assets/components/layout/fb-preview-toolbar";

.fb-theme-layout-preview-toolbar {
  &__container {
    font-family: $toolbar-font-family;
    font-size: $toolbar-font-size;
    height: 3.5rem;
    border-bottom: $container-border;
    align-items: center;
    padding: $container-padding;

    @include flex-content;
  }

  &__left,
  &__right {
    flex-grow: 1;
    align-items: center;

    @include flex-toolbar;
  }

  &__left {
    justify-content: flex-start;
  }

  &__right {
    justify-content: flex-end;
  }
}
