@import "../../../assets/components/layout/fb-phone-menu";

.fb-layout-phone-menu {
  &__container {

  }

  &__inner {
    padding: $inner-padding;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: ($z-index + 1);
    width: 100%;
  }

  &__content {
    background: $items-background-color;
    box-sizing: border-box;
    padding: $content-padding;

    @include items-border-radius;
  }

  &__heading {
    border-bottom: 1px solid $heading-border-color;
    line-height: $heading-line-height;
    padding: $heading-padding;
    margin: $heading-margin;
    text-align: center
  }

  &__footer {
    margin-top: $inner-padding;

    .fb-ui-button {
      text-align: center;
      background: $button-background-color;

      @include button-border-radius;
    }
  }

  &__backdrop {
    z-index: $z-index;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $backdrop-background-color;
  }
}

.fb-phone-menu-backdrop-enter-active,
.fb-phone-menu-backdrop-leave-active {
  transition: all .35s;
}

.fb-phone-menu-backdrop-enter,
.fb-phone-menu-backdrop-leave-to {
  opacity: 0;
}

.fb-phone-menu-content-enter-active,
.fb-phone-menu-content-leave-active {
  transition: all .35s;
}

.fb-phone-menu-content-enter,
.fb-phone-menu-content-leave-to {
  transform: translate3d(0, 100%, 0);
}
