@import "../../../assets/components/layout/fb-footer";

.fb-theme-layout-footer {
  &__container {
    font-family: $footer-font-family;
    font-size: $footer-font-size;
    z-index: $z-index;
    height: $footer-height;
    overflow: hidden;

    @media (max-width: $screen-phone-max) {
      height: 0;
    }
  }

  &__inner {
    background-color: $footer-background-color;
    border-top: 1px solid $footer-border-color;
    color: $footer-color;
    padding: $footer-padding;
    line-height: $footer-line-height;

    a {
      color: $footer-link-color;
      text-decoration: none;

      &:hover,
      &:focus {
        @media (hover: hover) and (pointer: fine) {
          color: $footer-link-color;
          text-decoration: $footer-link-hover-decoration;
        }
      }

      &:focus {
        /*
          WebKit-specific. Other browsers will keep their default outline style.
          (Initially tried to also force default via `outline: initial`,
          but that seems to erroneously remove the outline in Firefox altogether.)
         */
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
      }
    }
  }
}
