@import "../../../assets/variables/colors";
@import "../../../assets/variables/screen";
@import "../../../assets/variables/texts";
@import "../../../assets/mixins/utilities";

.fb-desktop-header {
  &__container {
    color: #fff;
    background-color: $brand-primary;
    @include box-shadow(0 2px 2px -2px rgba(0, 0, 0, 0.5));
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: $layout-sidebar-width;
    z-index: 1000;

    @media (min-width: $screen-sm-min) AND (max-width: $screen-md-max) {
      left: $layout-sidebar-collapsed-width;
    }

    @media (max-width: $screen-xs-max) {
      display: none !important;
    }

    * {
      color: #fff;
    }

    h1 {
      float: left;
      line-height: 50px;
      padding: 15px 15px 10px 15px;
      margin: 0;
      font-size: $font-size-large;

      span,
      small {
        margin: 0;
        padding: 0 0 0 15px;
        line-height: 20px;
        display: block;
      }

      span {
        margin-top: -8px;
        font-size: $font-size-large;
      }

      small {
        font-size: $font-size-small;
      }
    }
  }

  &__buttons {
    float: right;
    padding-right: 10px;
  }

  &__button {
    border: 0 none;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    height: 50px;
    color: #fff;
    background-color: $brand-primary;
    padding: 0px;
    width: 52px;
  }
}
