.fb-ui-transition-expand-expand-enter-active,
.fb-ui-transition-expand-expand-leave-active {
  transition: height 250ms ease-in-out;
  transition-property: opacity, height;
  overflow: hidden;
}

.fb-ui-transition-expand-expand-enter-from,
.fb-ui-transition-expand-expand-leave-to {
  opacity: 0;
  height: 0;
}
