@import '../../../assets/components/ui/fb-result-err';

.fb-theme-ui-result-err {
	&__container {
		width: $result-icon-width;
		display: block;
		margin: 0 auto;
		text-align: center;

		:deep(svg) {
			width: 100%;
			display: block;
			margin: 0;

			circle,
			line {
				fill: none;
				stroke-dasharray: 1000;
				stroke-dashoffset: 0;
				stroke: $result-color;
				stroke-width: 6;
				stroke-miterlimit: 10;
			}

			circle {
				animation: fb-theme-ui-result-err-dash 0.9s ease-in-out;
			}

			line {
				stroke-dashoffset: 1000;
				stroke-linecap: round;
				animation: fb-theme-ui-result-err-dash 0.9s 0.35s ease-in-out forwards;
			}
		}
	}

	&__content {
		margin-top: $result-content-margin;
	}
}

@keyframes fb-theme-ui-result-err-dash {
	0% {
		stroke-dashoffset: 1000;
	}

	100% {
		stroke-dashoffset: 0;
	}
}
