@import "../../../assets/components/ui/fb-modal-header";

.fb-ui-modal-header {
  &__container {
    &[data-variant="phone"] {
      .fb-ui-modal-header {
        &__buttons {
          @include flex-phone-header;

          &-left-button {
            text-align: left;
          }

          &-right-button {
            text-align: right;
          }

          &-left-button,
          &-right-button {
            flex-grow: 1;
            color: $header-color;
            font-size: $header-button-font-size;

            .fb-ui-button {
              color: $header-color;
              font-size: $header-button-font-size;
              text-align: center;

              &:hover,
              &:focus,
              &:active {
                outline: 0;
                background-image: none;
                color: $header-color;
                text-decoration: none;

                svg {
                  color: $header-color;
                }
              }
            }
          }
        }
      }
    }
  }

  &__heading {
    text-align: center;
  }

  &__close {
    margin-top: -2px;
    float: right;
    font-size: ($font-size * 1.5);
    font-weight: bold;
    line-height: 1;
    color: $header-close-color;
    text-shadow: $header-close-shadow;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;

    @include close;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
