@import "../../../assets/components/ui/fb-modal-header";

.fb-theme-ui-modal-header {
  &__inner {
    padding: $header-padding;
    height: $header-height;
    line-height: $header-line-height;
    color: $header-color;

    @include header-flex-container;
  }

  &__heading {
    align-items: center;

    @include header-flex-heading;

    &-icon {
      background-color: $header-heading-icon-background-color;
      border-radius: 50%;
      height: $header-heading-icon-size;
      width: $header-heading-icon-size;
      line-height: $header-heading-icon-size;
      font-size: $header-heading-icon-font-size;
      text-align: center;
      margin-right: $header-heading-icon-margin;

      :deep(svg) {
        color: $header-heading-icon-color;
      }
    }

    &-title {
      flex-grow: 2;
      flex-direction: column;
      justify-content: center;

      @include header-flex-title;

      &-heading {
        width: 100%;
        font-size: $header-heading-font-size;
        font-weight: $header-heading-font-weight;
        line-height: $header-heading-line-height;
        margin: $header-heading-margin;
      }

      &-small {
        display: block;
        font-size: 75%;
        color: $header-color;
      }
    }
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: ($header-font-size * 1.5);
    font-weight: bold;
    line-height: 1;
    color: $header-close-color;
    text-shadow: $header-close-shadow;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;

    @include header-close;

    &:hover,
    &:focus {
      @media (hover: hover) and (pointer: fine) {
        color: $header-close-color;
        text-decoration: none;
        cursor: pointer;
      }
    }

    &-text {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }

  &__description {
    @include flex-column(nowrap);

    &-icon {
      text-align: center;
      margin-bottom: $margin-sm;

      :deep(svg) {
        color: $header-color;
      }
    }

    &-title {
      text-align: center;

      &-heading {
        font-size: $header-heading-font-size;
        font-weight: $header-heading-font-weight;
        line-height: $header-heading-line-height;
        margin: $header-heading-margin;
      }

      &-small {
        display: block;
        font-size: 75%;
        color: $header-color;
      }
    }

    &-content {
      text-align: center;
    }
  }

  &__container {
    font-family: $header-font-family;
    font-size: $header-font-size;
    color: $header-color;
    background-color: $header-bg-color;

    @include header-shadow;

    &[data-layout="phone"],
    &[data-layout="tablet"] {
      .fb-theme-ui-modal-header {
        &__inner {
          padding: 0;
        }

        &__heading {
          text-align: center;
          order: 2;
          flex-grow: 2;
        }

        &__left-button {
          text-align: left;
          order: 1;
        }

        &__right-button {
          text-align: right;
          order: 3;
        }

        &__left-button,
        &__right-button {
          flex-grow: 1;
          flex-basis: 10%;

          :deep(.fb-theme-ui-button) {
            color: $header-color;

            &:hover,
            &:focus,
            &:active {
              color: $header-color;
              text-decoration: none;

              svg {
                color: $header-color;
              }
            }
          }
        }
      }
    }
  }
}
