@use "sass:math";
@use "sass:color";
@import "../../../assets/components/ui/fb-switch-element";

/* stylelint-disable no-descending-specificity */
.fb-theme-ui-switch-element {
  &__container {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    position: relative;
    user-select: none;
    vertical-align: middle;

    input {
      opacity: 0;
      filter: alpha(opacity=0);
      position: absolute;
      z-index: -1;

      ~ .fb-theme-ui-switch-element__track {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      ~ .fb-theme-ui-switch-element__thumb {
        background-color: #fff;
        border-color: $thumb-border-color;
        border-radius: 50%;
        border-style: solid;
        position: absolute;
        left: 0;
        top: 0;
        transition: left 0.15s ease-out;
      }
    }

    &[data-variant="default"] {
      @include switch-variant($switch-variant-default);
    }

    &[data-variant="primary"] {
      @include switch-variant($switch-variant-primary);
    }

    &[data-variant="success"] {
      @include switch-variant($switch-variant-success);
    }

    &[data-variant="info"] {
      @include switch-variant($switch-variant-info);
    }

    &[data-variant="warning"] {
      @include switch-variant($switch-variant-warning);
    }

    &[data-variant="danger"] {
      @include switch-variant($switch-variant-danger);
    }

    &[data-size="lg"] {
      height: $switch-height-lg;
      width: $switch-width-lg;

      input {
        ~ .fb-theme-ui-switch-element__track {
          background-color: $track-background-color;
          border-radius: math.ceil(math.div($switch-height-lg, 2));
        }

        ~ .fb-theme-ui-switch-element__thumb {
          border-width: 0.4rem;
          height: $switch-height-lg - 0.8rem + (2 * 0.4rem);
          width: $switch-height-lg - 0.8rem + (2 * 0.4rem);
        }

        &:checked {
          ~ .fb-theme-ui-switch-element__thumb {
            left: sum($switch-width-lg, -$switch-height-lg);
          }
        }

        &:disabled {
          ~ .fb-theme-ui-switch-element__track {
            background-color: color.adjust($track-background-color, $lightness: 30%);
            cursor: not-allowed;
          }

          ~ .fb-theme-ui-switch-element__thumb {
            cursor: not-allowed;
          }

          &:checked {
            ~ .fb-theme-ui-switch-element__track {
              cursor: not-allowed;
            }
          }
        }
      }
    }

    &[data-size="md"] {
      height: $switch-height-md;
      width: $switch-width-md;

      input {
        ~ .fb-theme-ui-switch-element__track {
          background-color: $track-background-color;
          border-radius: math.ceil(math.div($switch-height-md, 2));
        }

        ~ .fb-theme-ui-switch-element__thumb {
          border-width: 0.2rem;
          height: $switch-height-md - 0.4rem + (2 * 0.2rem);
          width: $switch-height-md - 0.4rem + (2 * 0.2rem);
        }

        &:checked {
          ~ .fb-theme-ui-switch-element__thumb {
            left: sum($switch-width-md, -$switch-height-md);
          }
        }

        &:disabled {
          ~ .fb-theme-ui-switch-element__track {
            background-color: color.adjust($track-background-color, $lightness: 30%);
            cursor: not-allowed;
          }

          ~ .fb-theme-ui-switch-element__thumb {
            border-color: color.adjust($thumb-border-color, $lightness: 30%);
            cursor: not-allowed;
          }

          &:checked {
            ~ .fb-theme-ui-switch-element__track {
              cursor: not-allowed;
            }
          }
        }
      }
    }

    &[data-size="sm"] {
      height: $switch-height-sm;
      width: $switch-width-sm;

      input {
        ~ .fb-theme-ui-switch-element__track {
          background-color: $track-background-color;
          border-radius: math.ceil(math.div($switch-height-sm, 2));
        }

        ~ .fb-theme-ui-switch-element__thumb {
          border-width: 0.2rem;
          height: $switch-height-sm - 0.4rem + (2 * 0.2rem);
          width: $switch-height-sm - 0.4rem + (2 * 0.2rem);
        }

        &:checked {
          ~ .fb-theme-ui-switch-element__thumb {
            left: sum($switch-width-sm, -$switch-height-sm);
          }
        }

        &:disabled {
          ~ .fb-theme-ui-switch-element__track {
            background-color: color.adjust($track-background-color, $lightness: 30%);
            cursor: not-allowed;
          }

          ~ .fb-theme-ui-switch-element__thumb {
            border-color: color.adjust($thumb-border-color, $lightness: 30%);
            cursor: not-allowed;
          }

          &:checked {
            ~ .fb-theme-ui-switch-element__track {
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}

/* stylelint-enable no-descending-specificity */
