@import '../../../../assets/components/layout/fb-user-menu';

.fb-theme-layout-user-menu-item {
	&__container {
		color: $menu-color;
		padding: 0;
		line-height: $menu-item-line-height;

		> span {
			padding: $menu-item-padding;
			width: 100%;
			text-align: left;
		}

		> a,
		> button {
			background-color: transparent;
			background-image: none;
			padding: $menu-item-padding;
			margin: 0;
			border: none;
			outline: none;
			display: block;
			font-weight: normal;
			color: $menu-item-color;
			white-space: nowrap;
			width: 100%;
			text-align: left;
			cursor: pointer;

			&:hover,
			&:focus {
				@media (hover: hover) and (pointer: fine) {
					text-decoration: none;
					color: $menu-item-active-color;
					background-color: $menu-item-active-background-color;
				}
			}
		}
	}
}
