.fb-theme-ui-swipe-actions-out {
  &__container {
    position: relative;
    overflow: hidden;
    display: flex;
  }

  &__left,
  &__right {
    position: absolute;
    height: 100%;
    display: flex;
    z-index: 1;
  }

  &__left {
    left: 0;
    transform: translateX(-100%);
  }

  &__right {
    right: 0;
    transform: translateX(100%);
  }

  &__content {
    transition: transform 0.2s;
    will-change: transform;
    width: 100%;
  }

  &__no-transition {
    .fb-theme-ui-swipe-actions-out__content {
      transition: none !important;
    }
  }
}
