@use 'sass:color';
@use 'sass:math';
@use 'sass:map';

// Component loading
// css3 var in packages/theme-chalk/src/el-component-loading.scss
$component-loading: () !default;
$component-loading: map.merge(
	(
		'font-weight': getCssVar('font-weight-primary'),
	),
	$component-loading
);
$component-loading-font-size: () !default;
$component-loading-font-size: map.merge(
	(
		'large': getCssVar('font-size', 'base'),
		'default': getCssVar('font-size', 'base'),
		'small': 12px,
	),
	$component-loading-font-size
);
$component-loading-padding-vertical: () !default;
$component-loading-padding-vertical: map.merge(
	(
		'large': 48px,
		'default': 24px,
		'small': 16px,
	),
	$component-loading-padding-vertical
);
$component-loading-padding-horizontal: () !default;
$component-loading-padding-horizontal: map.merge(
	(
		'large': 48px,
		'default': 24px,
		'small': 16px,
	),
	$component-loading-padding-horizontal
);
$component-loading-icon-size: () !default;
$component-loading-icon-size: map.merge(
	(
		'large': 77px,
		'default': 40px,
		'small': 24px,
	),
	$component-loading-icon-size
);

// Component loading error
// css3 var in packages/theme-chalk/src/el-component-loading-error.scss
$component-loading-error: () !default;
$component-loading-error: map.merge(
	(
		'font-weight': getCssVar('font-weight-primary'),
	),
	$component-loading-error
);
$component-loading-error-font-size: () !default;
$component-loading-error-font-size: map.merge(
	(
		'large': getCssVar('font-size', 'base'),
		'default': getCssVar('font-size', 'base'),
		'small': 12px,
	),
	$component-loading-error-font-size
);
$component-loading-error-padding-vertical: () !default;
$component-loading-error-padding-vertical: map.merge(
	(
		'large': 48px,
		'default': 24px,
		'small': 16px,
	),
	$component-loading-error-padding-vertical
);
$component-loading-error-padding-horizontal: () !default;
$component-loading-error-padding-horizontal: map.merge(
	(
		'large': 48px,
		'default': 24px,
		'small': 16px,
	),
	$component-loading-error-padding-horizontal
);
$component-loading-error-icon-size: () !default;
$component-loading-error-icon-size: map.merge(
	(
		'large': 77px,
		'default': 40px,
		'small': 24px,
	),
	$component-loading-error-icon-size
);

// List
// css3 var in packages/theme-chalk/src/el-list.scss
$list: () !default;
$list: map.merge(
	(
		'list-margin': 1.5rem 0 0 0,
		'header-size': 3.8rem,
		'header-border': 1px solid getCssVar('border-color', 'dark'),
		'header-font-size': 1.8rem,
		'header-line-height': 3.8rem,
		'header-subtitle-color': getCssVar('text-color', 'secondary'),
		'item-background': getCssVar('fill-color', 'lighter'),
		'item-height': 5.5rem,
		'item-border': 1px solid getCssVar('border-color', 'dark'),
	),
	$list
);

// Media item
// css3 var in packages/theme-chalk/src/el-media-item.scss
$media-item: () !default;
$media-item: map.merge(
	(
		'heading-margin': 0,
		'heading-font-size': 2.5rem,
		'heading-line-height': 2.5rem,
	),
	$media-item
);

// Spinner
// css3 var in packages/theme-chalk/src/el-spinner.scss
$spinner-size: () !default;
$spinner-size: map.merge(
	(
		'large': 68px,
		'default': 38px,
		'small': 28px,
	),
	$spinner-size
);
$spinner-border: () !default;
$spinner-border: map.merge(
	(
		'large': 3px,
		'default': 2px,
		'small': 1px,
	),
	$spinner-border
);
