@import '../../../assets/components/layout/fb-tabs';

.fb-theme-layout-tabs {
	&__container {
		color: $navigation-color;
		height: 6rem;
		z-index: $z-index;
		transition: height 0.3s ease-in-out;

		&-collapsed {
			height: 0;
			transition: height 0.3s ease-in-out;
		}

		@media (min-width: $screen-tablet-min) {
			display: none !important;
		}

		&-inner {
			@include shadow;
			@include flex-tabs;
		}
	}
}
