@import "../../../assets/variables/colors";
@import "../../../assets/variables/screen";
@import "../../../assets/mixins/utilities";

.fb-phone-header {
  &__container {
    background-color: $brand-primary;
    color: $brand-primary-contrast;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: $zindex-layout-header;

    @include clearfix;

    @media (min-width: $screen-sm-min) {
      display: none !important;
    }
  }

  &__row {
    position: relative;

    @include clearfix;
  }

  &__button {
    background-color: transparent;
    background-image: none;
    border: none;
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    line-height: 50px;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    font-size: 40px;
    text-transform: lowercase;

    &-right {
      float: right;
    }

    &-small {
      height: 30px;
      width: 30px;
      line-height: 30px;
      font-size: 20px;
    }

    &-textual {
      font-size: 15px;
      width: auto;
      text-align: right;
      margin-right: 10px;
    }
  }

  &__add-button.fb-btn {
    position: absolute;
    bottom: -15px;
    right: 25px;
  }
}
