@import "../../../assets/components/ui/fb-modal-form";

.fb-ui-modal-form {
  &__buttons {
    .fb-ui-button[data-variant="link"] {
      color: $button-color !important;
    }
  }

  &__result {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $result-background-color;
    display: flex;
    flex-direction: row;
    align-items: center;

    > div {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
