@import "../../../assets/components/ui/fb-modal-form";

.fb-theme-ui-modal-form {
  &__form {
    height: 100%;
    max-height: 100%;

    @include form-flex;
  }

  &__result {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $result-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: $result-z-index;

    :deep(.fb-theme-ui-spinner__container) {
      width: 10rem;
      height: 10rem;
    }

    :deep(.fb-theme-ui-result-ok__container),
    :deep(.fb-theme-ui-result-err__container) {
      width: 10rem;
      height: 10rem;
    }

    :deep(.fb-theme-ui-spinner__container::before),
    :deep(.fb-theme-ui-spinner__container::after) {
      width: 10rem;
      height: 10rem;
      margin: -5rem 0 0 -5rem;
      border-width: 4px;
    }
  }
}
